    @font-face {
        font-family: 'IrwinAllen';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/IrwinAllen.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/IrwinAllen.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'CHECKBK0';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/CHECKBK0.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/CHECKBK0.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'lowwe';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lowwe.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/lowwe.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    @font-face {
        font-family: 'lp1_regular';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.eot');
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.woff') format('woff'),
        url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'GameEmpire';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/Algerian-Basic-D-OT_3025.eot');
        src: url('https://www.tedt.org/RPG/MCC-GW/media/Algerian-Basic-D-OT_3025.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/Algerian-Basic-D-OT_3025.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        background-color: black;
    }

    .tech-v h1 {
        font-family: 'IrwinAllen';
        line-height: 1.2;
    }

    .tech-v h2 {
        font-family: 'lowwe';
    }

    .tech-v p {
        color: inherit;
    }

    .tech-v p b {
        font-family: 'CHECKBK0';
        color: inherit;
        font-size: 1.5em;
        font-weight: normal;
    }

    .tech-v p.description {
        color: inherit;
    }

    .tech-v p.background {
        color: inherit;
    }

    .tech-v p.rules {
        color: inherit;
        font-style: italic;
    }

    td#papermargin_left,
    td#papermargin_right {
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper-margin.png);
        background-repeat: repeat-y;
        width: 33px;
        min-width: 33px;
    }

    td#paper_printarea {
        width: 100%;
        font-size: 1em;
        text-align: left;
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
        font-style: normal;
        font-weight: 400;
        background-color: white;
        padding: 57px 18px 1px 18px;
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper.png);
        background-repeat: repeat;
        text-shadow: 0 0 1px rgba(115, 115, 121, 0.6), 0 0 2px rgba(115, 115, 121, 0.3);
    }

@media (prefers-color-scheme: dark) { 

    td#papermargin_left,
    td#papermargin_right {
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper-margin-dark.png);
        background-repeat: repeat-y;
        width: 33px;
        min-width: 33px;
    }

    td#paper_printarea {
        width: 100%;
        font-size: 1em;
        text-align: left;
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
        font-style: normal;
        font-weight: 400;
        background-color: white;
        padding: 57px 18px 1px 18px;
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper-dark.png);
        background-repeat: repeat;
        text-shadow: 0 0 1px rgba(115, 115, 121, 0.6), 0 0 2px rgba(115, 115, 121, 0.3);
    }

}

    .LineType {
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
    }

    .GameEmpire {
        font-family: "GameEmpire", serif;
        color: #FFFFFF;
        text-shadow: 0 0 3px #FF0000, 0 0 7px #FF0000, 0 0 20px #FF0000;

    }
    .MCC 
    {
        font-family: "IrwinAllen", "Helvetica Neue",Helvetica,Arial,sans-serif;
        text-shadow:-2px -2px 0 #FFE205, 
                     2px -2px 0 #FFE205, 
                    -2px  0px 0 #FFE205,
                     2px  2px 0 #FFE205;

        color: #018249;
    }

    .GammaWorld {
        font-family: "lowwe", "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #000000;
        text-shadow: 0 0 0px #000000;
    }
    pre#ascii-container-image { font: bold 8px/5px monospace; color: #000; clear: left; }
