    @font-face {
        font-family: 'IrwinAllen';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/IrwinAllen.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/IrwinAllen.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'CHECKBK0';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/CHECKBK0.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/CHECKBK0.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'lowwe';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lowwe.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/lowwe.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    @font-face {
        font-family: 'lp1_regular';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.eot');
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.woff') format('woff'),
        url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    body {
        background-color: black;
    }

    .tech-v h1 {
        font-family: 'IrwinAllen';
        color: inherit;
        line-height: 1.2;
    }

    .tech-v h2 {
        font-family: 'lowwe';
        color: inherit;
    }

    .tech-v p {
        color: inherit;
    }

    .tech-v p b {
        color: inherit;
        font-size: 1.5em;
        font-weight: normal;
    }

    .tech-v p.description {
        color: inherit;
    }

    .tech-v p.background {
        color: inherit;
    }

    .tech-v p.rules {
        color: inherit;
        font-style: italic;
    }

    td#papermargin_left,
    td#papermargin_right {
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper-margin.png);
        background-repeat: repeat-y;
        width: 33px;
        min-width: 33px;
    }

    td#paper_printarea {
        width: 100%;
        font-size: 13px;
        text-align: left;
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        background-color: white;
        padding: 57px 18px 1px 18px;
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper.png);
        background-repeat: repeat;
        text-shadow: 0 0 1px rgba(115, 115, 121, 0.6), 0 0 2px rgba(115, 115, 121, 0.3);
    }
    </style>