    @font-face {
        font-family: 'IrwinAllen';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/IrwinAllen.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/IrwinAllen.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'CHECKBK0';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/CHECKBK0.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/CHECKBK0.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'lowwe';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lowwe.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/lowwe.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    @font-face {
        font-family: 'lp1_regular';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.eot');
        src: url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.woff') format('woff'),
        url('https://www.tedt.org/RPG/MCC-GW/media/lp1-regular-webfont.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Duvall';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/DuvallSmallCaps.eot');
        src: url('https://www.tedt.org/RPG/MCC-GW/media/DuvallSmallCaps.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/DuvallSmallCaps.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'GameEmpire';
        src: url('https://www.tedt.org/RPG/MCC-GW/media/Algerian-Basic-D-OT_3025.eot');
        src: url('https://www.tedt.org/RPG/MCC-GW/media/Algerian-Basic-D-OT_3025.woff2') format('woff2'),
        url('https://www.tedt.org/RPG/MCC-GW/media/Algerian-Basic-D-OT_3025.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        background-color: black;
    }

    .tech-v h1 {
        font-family: 'IrwinAllen';
        line-height: 1.2;
    }

    .tech-v h2 {
        font-family: 'lowwe';
    }

    .tech-v p {
        color: inherit;
    }

    .tech-v p b {
        font-family: 'CHECKBK0';
        color: inherit;
        font-size: 1.5em;
        font-weight: normal;
    }

    .tech-v p.description {
        color: inherit;
    }

    .tech-v p.background {
        color: inherit;
    }

    .tech-v p.rules {
        color: inherit;
        font-style: italic;
    }

    td#papermargin_left,
    td#papermargin_right {
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper-margin.png);
        background-repeat: repeat-y;
        width: 33px;
        min-width: 33px;
    }

    td#paper_printarea {
        width: 100%;
        font-size: 1em;
        text-align: left;
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
        font-style: normal;
        font-weight: 400;
        background-color: white;
        padding: 57px 18px 1px 18px;
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper.png);
        background-repeat: repeat;
        text-shadow: 0 0 1px rgba(115, 115, 121, 0.6), 0 0 4px rgba(115, 115, 121, 0.3);
    }

/*
#gw--gradient {
    position: fixed;
    width: 100vw;
    background: #061c17;
    background: radial-gradient(#163c33,#061c17);
    z-index: 0
}

#gw--scanLines {
    position: fixed;
    z-index: 2;
    width: 100vw;
    pointer-events: none
}

#gw--scanLines:after,#gw--scanLines:before {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute
}

#gw--scanLines:after {
    z-index: 2147483648;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-repeating-linear-gradient(top,transparent 0,transparent 4px,rgba(6,28,23,.2) 4px,rgba(6,28,23,.2) 6px);
    -webkit-background-size: 100% 6px;
    background-image: -moz-repeating-linear-gradient(top,transparent 0,transparent 4px,rgba(6,28,23,.2) 4px,rgba(6,28,23,.2) 6px);
    -moz-background-size: 100% 6px;
    background-image: repeating-linear-gradient(top,transparent 0,transparent 4px,rgba(6,28,23,.2) 4px,rgba(6,28,23,.2) 6px);
    background-size: 100% 6px
}

#gw--gradient,#gw--scanLines {
    height: 100vh
}

@media (max-device-aspect-ratio: 3 / 4) {
    #gw--gradient,#gw--scanLines {
        height:calc(100vw * 1.45297)
    }
}

@media (max-device-aspect-ratio: 2 / 3) {
    #gw--gradient,#gw--scanLines {
        height:calc(100vw * 1.635)
    }
}

@media (max-device-aspect-ratio: 10 / 16) {
    #gw--gradient,#gw--scanLines {
        height:calc(100vw * 2.244)
    }
}

@media (max-device-aspect-ratio: 9 / 16) {
    #gw--gradient,#gw--scanLines {
        height:calc(100vw * 2.23802)
    }
}

*/


@media (prefers-color-scheme: dark) { 

    html {
        color: white;
      }

    td#papermargin_left,
    td#papermargin_right {
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper-margin-dark.png);
        background-repeat: repeat-y;
        width: 33px;
        min-width: 33px;
    }

    td#paper_printarea {
        width: 100%;
        font-size: 1em;
        text-align: left;
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
        font-style: normal;
        font-weight: 400;
        background-color: black;
        padding: 57px 18px 1px 18px;
        background-image: url(https://www.tedt.org/RPG/MCC-GW/media/paper-dark.png);
        background-repeat: repeat;
        text-shadow: 0 0 1px rgba(115, 115, 121, 0.6), 0 0 4px rgba(115, 115, 121, 0.3);
        color: white;
    }

}

    .LineType {
        font-family: lp1_regular, "Trebuchet MS", sans-serif;
    }

    .GameEmpire {
        font-family: "GameEmpire", serif;
        color: #FFFFFF;
        text-shadow: -3px -3px 3px #FF0000, 
                      3px  3px 3px #FF0000,
                      3px -3px 3px #FF0000, 
                     -3px  3px 3px #FF0000, 
                      0px  3px 3px #FF0000, 
                      0px -3px 3px #FF0000, 
                      3px  0px 3px #FF0000, 
                     -3px  0px 3px #FF0000;
    }
    .MCC 
    {
        font-family: "IrwinAllen", "Helvetica Neue",Helvetica,Arial,sans-serif;
        text-shadow: -4px -4px 0px #ffe205, 
                      4px  4px 0px #ffe205, 
                      4px -4px 0px #ffe205, 
                     -4px  4px 0px #ffe205, 
                      0px  4px 0px #ffe205, 
                      0px -4px 0px #ffe205, 
                      4px  0px 0px #ffe205, 
                     -4px  0px 0px #ffe205, 
                        
                     -6px -6px 0px #018249, 
                      6px  6px 0px #018249,
                      6px -6px 0px #018249, 
                     -6px  6px 0px #018249, 
                      0px  6px 0px #018249, 
                      0px -6px 0px #018249, 
                      6px  0px 0px #018249, 
                     -6px  0px 0px #018249;
            color: #018249;
    }

    .GammaWorld {
        font-family: "lowwe", "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #DC143C; 
        font-weight: bold;
    }
    pre#ascii-container-image { font: bold 8px/5px monospace; color: #000; clear: left; }
