    <!-- Bootstrap Core CSS -->
    {% include css-bootstrap.html %}

    <!-- Custom CSS -->
    {% if full-page-url == home-page-url %}
    <link href="{{site.siteurl}}/css/landing-page.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/web-mention.css" rel="stylesheet">
    {% else %}    
    <link href="{{site.siteurl}}/css/blog-post.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/web-mention.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/webmention.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/solarized-dark.css" rel="stylesheet">
    {% endif %}

    <!-- Custom Fonts -->
    {% include css-font-awesome.html %}
    
    {% if this_is_a_draft == true %}
        <link rel="preload" href="{{site.siteurl}}/css/handwriting-draft_free-version.woff2" as="font" type="font/woff2" crossorigin>
        <link href="{{site.siteurl}}/css/draft-blog-post.css" rel="stylesheet">
    {% endif %}

    <style>
        @media (prefers-color-scheme: dark) {
            @import url("https://www.tedt.org/css/bootstrap.darkly.min.css"); /* Using a url */
           }
        }
    </style>  