
<!-- We need to be able to differentiate between when we are rendering the homepage and the current page's full url -->
{% assign full-page-url = site.siteurl | append: page.url %}
{% assign home-page-url = site.siteurl | append: "/" %}

<!-- strip HTML Content and empty spaces out of the pages content -->
{% assign stripped-content = page.content | strip_html | strip %} 


<!-- Calculate the pages Exerpt if one isn't present -->
{% if page.excerpt != "" %}
    {% assign SEO_description = page.excerpt | strip_html %}
{% elsif page.description != "" %}
    {% assign SEO_description = page.description | strip_html %}
{% endif %}

<!-- Category work -->
{% assign categories = page.categories %}
{% for category in categories %}
    {% capture thiscategory %}{{ category | strip }}{% endcapture %}
    {% if thiscategory == "draft" or thiscategory == "Draft" %}
        {% assign this_is_a_draft = true %}
    {% endif %}
{% endfor %}

{% assign page-categories-collection = "" | split: ',' %}
{% assign categories = page.categories %}
{% for category in categories %}
  {% assign page-categories-collection = page-categories-collection | push: category %}
{% endfor %}


<!-- mf-bookmark-of -->
{% if page.mf-bookmark-of == null or page.mf-bookmark-of == empty %}
    {% assign mf-bookmark-of = false %} 
{% else %}
    {% comment %} <!--
    mf-bookmark-of:
      - >-
        https://www.theguardian.com/technology/2018/jul/02/facebook-mark-zuckerberg-platform-publisher-lawsuit -->
    {% endcomment %}

    {% assign page-categories-collection = page-categories-collection | push: "Bookmark" %}
    {% assign mf-bookmark-of = true %} 
{% endif %}


{% if page.mf-repost-of == null or page.mf-repost-of == empty %}
    {% assign mf-repost-of = false %} 
{% else %}
    {% comment %} <!--
    mf-repost-of:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1
    mf-repost-of:
      - 'https://idiallo.com/blog/when-a-machine-fired-me' -->
    {% endcomment %}

    {% assign page-categories-collection = page-categories-collection | push: "Repost" %}
    {% assign mf-repost-of = true %} 
{% endif %}

{% if page.mf-like-of == null or page.mf-like-of == empty %}
    {% assign mf-like-of = false %} 
{% else %}
    {% comment %} <!--
    mf-like-of:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Like" %}
    {% assign mf-like-of = true %} 
{% endif %}

{% if page.mf-item == null or page.mf-item == empty %}
    {% assign mf-item  = false %} 
{% else %}
    {% comment %} <!--
    mf-item:
      - type:
          - h-product
        properties:
          name:
            - Product Name
          url:
            - 'https://www.goodreads.com/book/show/17343.Till_We_Have_Faces' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Item" %}
    {% assign mf-item  = true %} 
{% endif %}

{% if page.mf-rating == null or page.mf-rating == empty %}
    {% assign mf-rating  = false %} 
{% else %}
    {% comment %} <!--
    mf-rating:
      - 5 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Review" %}
    {% assign mf-rating  = true %} 
{% endif %}

{% if page.mf-summary == null or page.mf-summary == empty %}
    {% comment %} <!--
    mf-summary:
      - AMAZING! -->
    {% endcomment %}
    {% assign mf-summary  = true %} 
{% else %}
    {% assign mf-summary  = false %} 
{% endif %}

{% if page.mf-itinerary == null or page.mf-itinerary == empty %}
    {% assign mf-itinerary  = false %} 
{% else %}
    {% comment %} <!--
    mf-itinerary:
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Ted Air
          number:
            - '833'
          origin:
            - LAX
          destination:
            - OXF
          departure:
            - '2018-06-22T16:35:00-07:00'
          arrival:
            - '2018-06-22T16:35:00+01:00'
    mf-itinerary:
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Ted Air
          number:
            - '833'
          origin:
            - LAX
          destination:
            - OXF
          departure:
            - '2018-06-23T15:40:00-07:00'
          arrival:
            - '2018-06-23T15:40:00+01:00'
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Lou Air
          number:
            - '338'
          origin:
            - OXF
          destination:
            - HOL
          departure:
            - '2018-06-23T15:40:00+01:00'
          arrival:
            - '2018-06-23T15:40:00' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Itinerary" %}
    {% assign mf-itinerary  = true %} 
{% endif %}

{% if page.mf-in-reply-to == null or 
      page.mf-in-reply-to == empty %}
    {% assign mf-in-reply-to  = false %} 
{% else %}
    {% comment %} <!--
    mf-in-reply-to:
      - 'https://idiallo.com/blog/when-a-machine-fired-me'

    mf-in-reply-to:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Reply" %}
    {% assign mf-in-reply-to  = true %} 
{% endif %}

{% if page.mf-photo == null or 
      page.mf-photo == empty %}
    {% assign mf-photo = false %} 
{% else %}
    {% comment %} <!--
    mf-photo:
      - >-
        https://www.tedt.org/media/2018-06-85087/screen-shot-2018-06-22-at-4.33.30-pm.png
    mf-photo:
      - >-
        https://igx.4sqi.net/img/general/original/4195_P3LEKM8c3SMWtHxe9iy0KW9XLlw16wD0rgk7RD_odAo.jpg
    mf-photo:
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/65b00c0cea188cb92a730222feff0b97/5BE35D60/t51.2885-15/e35/24175395_1272798276200131_8733420610316664832_n.jpg
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/fd3133a626153315ac3735996c28e60f/5BB8C2A0/t51.2885-15/e35/24127175_136580130451436_1425162009573326848_n.jpg
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/81d32fe0f7b8f687ae9fa1eb05af52d2/5BB5551D/t51.2885-15/e35/24174868_1945197792408473_193377161585885184_n.jpg -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Photo" %}
    {% assign mf-photo = true %} 
{% endif %}
{% if page.mf-syndication == null or 
      page.mf-syndication == empty %}
    {% assign mf-syndication = false %} 
{% else %}
    {% comment %} <!--
    mf-syndication:
      - 'https://www.swarmapp.com/user/4195/checkin/5b25a7ca8a6f17002c5d4846'

    mf-syndication:
      - 'https://www.swarmapp.com/user/4195/checkin/5b28072bc0cacb002c61a717' -->
    {% endcomment %}
    {% assign mf-syndication-url  = page.page.mf-syndication %}
    {% assign mf-syndication = true %} 
{% endif %}

{% if page.mf-checkin[0].type == null or 
      page.mf-checkin[0].type == empty %}
    {% assign mf-checkin = false %} 
{% else %}
    {% comment %} <!--
    mf-checkin:
      - type:
          - h-card
        properties:
          name:
            - Game Empire Pasadena
          url:
            - 'https://foursquare.com/v/4a94a8e0f964a520472220e3'
          latitude:
            - 34.14634159231104
          longitude:
            - -118.1133562999198
          street-address:
            - 1795 E Colorado Blvd
          locality:
            - Pasadena
          region:
            - CA
          country-name:
            - United States
          postal-code:
            - '91106'
        value: 'https://foursquare.com/v/4a94a8e0f964a520472220e3' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Check in" %}
    {% assign mf-checkin-type                     = page.mf-checkin[0].type %}
    {% assign mf-checkin-url                      = page.mf-checkin[0].value %}
    {% assign mf-checkin-facility-name            = page.mf-checkin[0].properties.name %}
    {% assign mf-checkin-facility-url             = page.mf-checkin[0].properties.url %}
    {% assign mf-checkin-facility-latitude        = page.mf-checkin[0].properties.latitude %}
    {% assign mf-checkin-facility-longitude       = page.mf-checkin[0].properties.longitude %}
    {% assign mf-checkin-facility-street-address  = page.mf-checkin[0].properties.street-address %}
    {% assign mf-checkin-facility-city            = page.mf-checkin[0].properties.locality %}
    {% assign mf-checkin-state                    = page.mf-checkin[0].properties.region %}
    {% assign mf-checkin-country                  = page.mf-checkin[0].properties.country-name %}
    {% assign mf-checkin-zip-code                 = page.mf-checkin[0].properties.postal-code %}
    {% assign mf-checkin                          = true %} 
{% endif %}

<!-- This needs to be fixed -->

{% if page.mf-location[0].type == null or 
      page.mf-location[0].type == empty %}
    {% comment %} <!--
      We do not have a complex Location, but we might have a simple one.  Lets check. -->
    {% endcomment %}
    {% if page.mf-location == null or 
          page.mf-location == empty %}
      {% comment %} <!--
        We do not have a complex Location, and we do not a simple one.  Lets set flags. -->
      {% endcomment %}
      {% assign mf-location                       = false %} 
      {% assign mf-location-full                  = false %}
      {% assign mf-location-short                 = false %}
    {% else %}
      {% comment %} <!--
        We do not have a complex Location, but we do have a simple one.  Lets set variables.
        mf-location:
          - 'geo:34.049571899827,-118.08246843619'

        mf-location:
          - 'geo:34.14661,-117.93846;u=34'

          - 'geo:lat,long;u=undertanity_in_Meters' -->
      {% endcomment %}
      {% assign page-categories-collection = page-categories-collection | push: "Location" %}
      {% assign location-facility-step-one        = page.mf-location[0] | split: ':' %}
      {% assign location-facility-step-two        = location-facility-step-one[1] | split: ';' %}
      {% assign location-facility-step-three      = location-facility-step-two[0] | split: ',' %}
      {% assign location-facility-step-four       = location-facility-step-two[1] | split: '=' %}
      {% assign location-facility-latitude        = location-facility-step-three[0] %}
      {% assign location-facility-longitude       = location-facility-step-three[1] %}
      {% assign location-facility-gis-uncertanity = location-facility-step-four[1] %}
      {% assign mf-location                       = true %} 
      {% assign mf-location-full                  = false %}
      {% assign mf-location-short                 = true %}
    {% endif %}
{% else %} 
    {% comment %} <!--
    We have a complex Location lets parse

    mf-location:
        - type:
          - h-adr
        properties:
          latitude:
            - 34.14634159231104
          longitude:
            - -118.1133562999198
          street-address:
            - 1795 E Colorado Blvd
          locality:
            - Pasadena
          region:
            - CA
          country-name:
            - United States
          postal-code:
            - '91106' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Location" %}

    {% assign mf-location                         = true %} 
    {% assign mf-location-full                    = true %}
    {% assign mf-location-short                   = false %}
    {% assign location-type                       = page.mf-location[0].type %}

    {% assign location-facility-latitude          = page.mf-location[0].properties.latitude %}
    {% assign location-facility-longitude         = page.mf-location[0].properties.longitude %}
    {% assign location-facility-street-address    = page.mf-location[0].properties.street-address %}
    {% assign location-facility-city              = page.mf-location[0].properties.locality %}
    {% assign location-state                      = page.mf-location[0].properties.region %}
    {% assign location-country                    = page.mf-location[0].properties.country-name %}
    {% assign location-zip-code                   = page.mf-location[0].properties.postal-code %}
{% endif %}


{% if mf-checkin-facility-latitude == null or 
      mf-checkin-facility-latitude == empty %}
  {% comment %} <!--
    We do not have a facility checkin.  Lets Check if we have a Location -->
  {% endcomment %}
  {% if location-facility-latitude == null or 
        location-facility-latitude == empty %}
    {% comment %} <!--
      We do not have a facility checkin.  We do not have a Location.  Therefore we have no need for a map -->
    {% endcomment %}
    {% assign draw-map                            = false %}
  {% else %}
    {% comment %} <!--
      We do not have a facility checkin.  We do  have a Location.  Therefore we have a need for a map -->
    {% endcomment %}
    {% assign draw-map                            = true %}
    {% assign draw-map-one                        = true %}
    {% assign map-latitude-one                    = location-facility-latitude %}
    {% assign map-longitude-one                   = location-facility-longitude %}
    {% assign map-uncertanity-one                 = location-facility-gis-uncertanity %}
    {% if mf-checkin-facility-name == null or 
          mf-checkin-facility-name == empty %}
      {% assign map-name-one                      = stripped-content %}
    {% else %}
      {% assign map-name-one                      = mf-checkin-facility-name %}
    {% endif %}
   {% endif %}
{% else %}
  {% comment %} <!--
    We do have a facility checkin.  Lets Check if we have a Location -->
  {% endcomment %}
  {% assign draw-map                              = true %}
  {% assign draw-map-one                          = true %}
  {% assign map-latitude-one                      = mf-checkin-facility-latitude %}
  {% assign map-longitude-one                     = mf-checkin-facility-longitude %}
  {% assign map-name-one                          = mf-checkin-facility-name %}

  {% if location-facility-latitude == null or 
        location-facility-latitude == empty %}
    {% comment %} <!--
      We do have a facility checkin.  We do not have a Location.  Therefore we can keep the map we already have -->
    {% endcomment %}
    {% assign draw-map-two                        = false %}
  {% else %}
    {% comment %} <!--
      We do have a facility checkin.  We do have a Location.  Therefore we have a need for two maps -->
    {% endcomment %}
    {% assign draw-map                            = true %}
    {% assign draw-map-two                        = true %}
    {% assign map-latitude-two                    = location-facility-latitude %}
    {% assign map-longitude-two                   = location-facility-longitude %}
    {% assign map-uncertanity-two                 = location-facility-gis-uncertanity %}
    {% if map-latitude-two == map-latitude-one and
          map-longitude-two == map-longitude-one%}
        {% assign draw-map-two                    = false %}
    {% endif %}
    {% if mf-checkin-facility-name == null or 
          mf-checkin-facility-name == empty %}
      {% assign map-name-two                      = stripped-content %}
    {% else %}
      {% assign map-name-two                      = mf-checkin-facility-name %}
    {% endif %}
  {% endif %}
{%endif%}

