<h1 class="page-title">Tiger</h1>
<h2>Traits</h2><strong>Keen Smell</strong>: The tiger has advantage on Wisdom (Perception) checks that rely on smell.<br /><br /><strong>Pounce</strong>: If the tiger moves at least 20 ft. straight toward a creature and then hits it with a claw attack on the same turn, that target must succeed on a DC 13 Strength saving throw or be knocked prone. If the target is prone, the tiger can make one bite attack against it as a bonus action.<br /><br /><h2>Actions</h2><strong>Bite</strong>: Melee Weapon Attack: +5 to hit, reach 5 ft., one target. Hit: 8 (1d10 + 3) piercing damage.<br /><br /><strong>Claw</strong>: Melee Weapon Attack: +5 to hit, reach 5 ft., one target. Hit: 7 (1d8 + 3) slashing damage.<br /><br />
<div class="body">
    <div class="name">
        <a name="toc_4"></a><h1>Tiger</h1>
    </div>
    <div class="subtitle">Large <span>beast, Unaligned</span></div>
    <div class="taper taper-top"></div>
    <div class="single-list">
        <ul>
            <li><span>Armor Class </span>12</li>
            <li><span>Hit Points </span>37 (5d10+10)</li>
            <li><span>Speed </span> 40 ft.</li>
        </ul>
    </div>
    <div class="taper"></div>
    <div class="attributes">
        <div class="attr"><span>STR</span><br>
            <div class="attr-num">17 (+3)</div>
        </div>
        <div class="attr"><span>DEX</span><br>
            <div class="attr-num">15 (+2)</div>
        </div>
        <div class="attr"><span>CON</span><br>
            <div class="attr-num">14 (+2)</div>
        </div>
        <div class="attr"><span>INT</span><br>
            <div class="attr-num">3 (-4)</div>
        </div>
        <div class="attr"><span>WIS</span><br>
            <div class="attr-num">12 (+1)</div>
        </div>
        <div class="attr-cha"><span>CHA</span><br>
            <div class="attr-num">8 (-1)</div>
        </div>
    </div>
    <div class="taper"></div>
    <div class="single-list">
        <ul>
            <li><span>Skills </span>Perception +3, Stealth +6</li>
            <li><span>Senses </span>Darkvision 60 Ft., passive Perception 13</li>
            <li><span>Challenge </span> 1 (200 XP)</li>
        </ul>
    </div>
    <div class="taper"></div>
    <div class="traits">
        <ul>
            <li><span>Keen Smell</span>. The tiger has advantage on Wisdom (Perception) checks that rely on smell.</li>
            <li><span>Pounce</span>. If the tiger moves at least 20 ft. straight toward a creature and then hits it with a claw attack on the same turn, that target must succeed on a DC 13 Strength saving throw or be knocked prone. If the target is prone, the tiger can make one bite attack against it as a bonus action.</li>
        </ul>
    </div>
    <div class="actions">
        <a name="toc_5"></a><h2>Actions</h2>
        <hr>
        <ul>
            <li><span>Bite.</span> <i>Melee Weapon Attack:</i>
                +5 to hit, reach 5 ft., one target.
                <i>Hit: </i>(1d10 + 3) piercing damage.
            </li>
            <li><span>Claw.</span> <i>Melee Weapon Attack:</i>
                +5 to hit, reach 5 ft., one target.
                <i>Hit: </i>(1d8 + 3) slashing damage.
            </li>
        </ul>
    </div>
    <div class="reactions">
        <ul>
        </ul>
    </div>
    <div class="legendary-actions">
        <ul>
        </ul>
    </div>
</div>