    <!-- IndieAuth.com -->
    {% if site.github_username or
          site.linkedin_username or
          site.twitter_username or
          site.facebook_username or
          site.google_username or
          site.youtube_username or
          site.pinterest_username or
          site.reddit_username or
          site.instagram_username or
          site.quora_username or
          site.indiewebcamp_username or
          site.keybaseio_username
          %}

            {% if site.keybaseio_username %}
              <link href="https://keybase.io/{{ site.keybaseio_username }}" rel="me">
            {% else %}
            {% endif %}

            {% if site.github_username %}
                <link href="https://github.com/{{ site.github_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.linkedin_username %}
                <link href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.twitter_username %}
                <link href="https://twitter.com/{{ site.twitter_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site.facebook_username %}
                <link href="https://www.facebook.com/{{ site.facebook_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site.google_username %}
                <link href="https://plus.google.com/u/0/+{{ site.google_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site.youtube_username %}
                <link href="https://www.youtube.com/user/{{ site.youtube_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.pinterest_username %}
                <link href="https://www.pinterest.com/{{ site.pinterest_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.reddit_username %}
                <link href="https://www.reddit.com/user/{{ site.reddit_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.instagram_username %}
                <link href="https://www.instagram.com/{{ site.instagram_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.quora_username %}
                <link href="https://www.quora.com/profile/{{ site.quora_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.indiewebcamp_username %}
                <link href="https://indieweb.org/User:{{ site.indiewebcamp_username }}/" rel="me">
            {% else %}
            {% endif %}
    {% endif %}
    
    <!-- Webmentions -->
    <link rel="pingback" href="https://webmention.io/www.tedt.org/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/www.tedt.org/webmention" />

    <!-- Indieauth.com/ 
         MICROPUB_TOKEN_ENDPOINT Required
         The token endpoint to verify the micropub token against. See: https://indieweb.org/token-endpoint
    -->

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link href="https://micropub-to-github-for-ted.herokuapp.com/micropub/main" rel="micropub">
