    {% for Creatures in GammaWorld.Creatures %} 
        <h1>{{Creatures.Name}}</h1>
        <h2>{{Creatures["Common Name"]}}</h2>
		{% if Creatures["Mutations"] != " #VALUE!" %}
			<p><strong>Stats:</strong> {{Creatures["Normal Text"]}}</p>
		{% else %}
			<p><strong>Stats:</strong> Converstion in Progress</p>
		{% endif %}
		{% if Creatures["Mutations"] != "" %}
			<P><strong>Mutations:</strong> {{Creatures["Mutations"]}}</p>
		{% endif %}


		{% if Creatures["New Description"] != "" %}
			<p><strong>Description:</strong> {{Creatures["New Description"]}}</p>
			<p><strong>Combat:</strong> {{Creatures["Combat"]}}</p>
			<p><strong>Society:</strong> {{Creatures["Society"]}}</p>
		{% else %}
			<p><strong>Description:</strong> {{Creatures["Description"]}}</p>
			<p><strong>Behavior:</strong> {{Creatures["Behavior"]}}</p>
		{% endif %}

    {% endfor %}