<ul>
    {% assign count = 0 %} 
    {% for Creatures in GammaWorld %} 
    	{% assign count = count | plus: 1 %}
	    <LI>
	        <UL>
	            {% For Stats in Creatures %}
	            <LI>
	                {{ Stats | jsonify }}
	            </LI>
	            {% endfor %}
	        </UL>
	    </LI>
    <li>
        {{Creatures | jsonify }}
    </li>
    <li>
        {{Creatures.Name }}
    </li>
    <li>
        {{Creatures[0].Name }}
    </li>
    <li>
        {{GammaWorld[count] }}
    </li>
    <li>
        {{GammaWorld[count].Name }}
    </li>
    {% endfor %}
</ul>