<-- 
<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
</ul> 
-->

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Start</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About Ted</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Projects
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#ArchitectForAutomation">Technology Architect for Automation</a></li>
                            <li><a href="#ArchitectForDigital">Technology Architect for Digital</a></li>
                            <li><a href="#ArchitectforSCEcom">Program Architect for SCE.com</a></li>
                            <li><a href="#FounderTolkienOnline">Founder of The One Ring: Tolkien Online</a></li>
                            <li><a href="#ProceduralTextGeneration">Procedural Text Generation</a></li>
                            <li><a href="#PasswordChallange">The Password Challange</a></li>
                            <li><a href="#TwitterBot">Twitterbot: Random Board Game Night</a></li>
                        </ul>
                    </li>


                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
