        {% assign count = 0 %}
            {% assign count = count | plus: 1 %}
            {% assign mod = count | modulo: 2 %}
                <a name="{{ page.title | slugify}}"></a>
                {% if mod != 1 %}<!-- odd -->
                <div class="content-section-a">
                {% else %}
                <div class="content-section-b">
                {% endif %}
                    <div class="container">
                        <div class="row">
                            {% if mod != 1 %}<!-- odd -->
                            <div class="col-lg-5 col-sm-6">
                            {% else %}
                            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            {% endif %}
                                <div class="clearfix"></div>
                                {% if page.title-url and page.title-url != "" and page.title-url != nil %}
                                    <h2 class="section-heading"><a href="{{page.title-url}}" target="_blank" rel="noopener noreferrer">{{ page.title}}</a></h2>
                                {% else %}
                                    <h2 class="section-heading">{{ page.title}}</h2>
                                {% endif %}
                                <p class="lead">{{ page.description}}</p>
                            </div>
                            {% if mod != 1 %}<!-- odd -->
                            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            {% else %}
                            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            {% endif %}
                                <img class="img-responsive img-thumbnail" src="{{site.siteurl}}/{{page.image}}" alt="{{page.image-credits-title}} by {{page.image-credits-artist}}">
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.content-section-a -->
        {% endfor %}