
<style>
/*
0. Documentation and Notes - LightGrey

1. Unit testing - D4 16 16
2. Integration testing - CF 1A 92
3. Component testing - 90 1D CA
4. System Testing - 21 21 C5
5. Operational Testing - Alpha - 24 8C C0
6. Operational Testing - Beta - 28 BB BC
7. Operational Testing - Pre-release - 2B B6 2B
8. Released - Black
*/

	.progress > .status {
		background-color: transparent;
	}
	.progress > .notes {
		background-color: LightGrey;
	}
	.progress > .unit {
		background-color: #D41616;
	}
	.progress > .integration {
		background-color: #CF1A92;
	}
	.progress > .component {
		background-color: #901DCA;
	}
	.progress > .system {
		background-color: #2121C5;
	}
	.progress > .alpha {
		background-color: #248CC0;
	}
	.progress > .beta {
		background-color: #28BBBC;
	}
	.progress > .prerelease {
		background-color: #2BB62B;
	}

</style>

<div class="progress">
    <div class="progress-bar notes" role="progressbar" style="width:12.5%">
      Notes
    </div>
    <div class="progress-bar unit" role="progressbar" style="width:12.5%">
      Unit
    </div>
    <div class="progress-bar integration" role="progressbar" style="width:12.5%">
      Integration</br>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
    <div class="progress-bar component" role="progressbar" style="width:12.5%">
      Component
    </div>
    <div class="progress-bar system" role="progressbar" style="width:12.5%">
      System
    </div>
    <div class="progress-bar alpha" role="progressbar" style="width:12.5%">
      Alpha
    </div>
    <div class="progress-bar beta" role="progressbar" style="width:12.5%">
      Beta
    </div>
    <div class="progress-bar prerelease" role="progressbar" style="width:12.5%">
      Pre-release
    </div>
</div>