                  {%- assign d = page.date | date: "%-d" -%}
                  {%- assign m = page.date | date: "%B" -%}
                  {%- assign dy = page.date | date: "%A" -%}
                  {%- assign hour = page.date | date: "%H" -%}
                  {%- assign buildDate = "now" | date: '%s'  -%}
                  {%- assign thisDate = page.date | date: '%s' -%}
                  {%- assign prevDateDiff = buildDate | minus: thisDate -%}
                  {%- assign prevDateDiff = prevDateDiff | divided_by: 86400 -%}
                  <!-- Date/Time -->
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Posted <time datetime="{{page.date}}" class="aria-hidden hidden dt-publish">{{page.date}}</time><time datetime="{{page.date}}">
                        {%- include fuzzy-date.html daysDiff=prevDateDiff label='ago' -%}&nbsp;
                        {%- capture time-output -%}{%- case hour -%}
                            {%- when '01' or '02' or '03' or '04' or '23' or '24' -%}during the night
                            {%- when '05' or '06' or '07' or '08' -%}in the early morning
                            {%- when '09' or '10' or '11' -%}late in the morning
                            {%- when '12' -%}at noon
                            {%- when '13' or '14' or '15' -%}early in the afternoon
                            {%- when '16' or '17' -%}late in the afternoon
                            {%- when '18' or '19' -%}early in the evening
                            {%- when '20' or '21' or '22' -%}late in the evening
                        {%- endcase -%}, {%- endcapture -%}
                        {% assign time-output = time-output | strip_newlines  | trim %}
                        {{ time-output }}

                        on {{ dy }}, {{ m }} {% case d %}{% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>{% when '2' or '22' %}{{ d }}<sup>nd</sup>{% when '3' or '23' %}{{ d }}<suup>rd</suup>{% else %}{{ d }}<sup>th</sup>{% endcase %}</time></br>

                    {% if page.update %}
                      {% assign d = page.update | date: "%-d" %}
                      {% assign m = page.update | date: "%B" %}
                      {% assign dy = page.update | date: "%A" %}
                      {% assign hour = page.update | date: "%H" %}
                      {% assign buildDate = "now" | date: '%s'  %}
                      {% assign thisDate = page.update | date: '%s'  %}
                      {% assign prevDateDiff = buildDate | minus: thisDate %}
                      {% assign prevDateDiff = prevDateDiff | divided_by: 86400 %}
                      <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Updated: <time datetime="{{page.update}}" class="aria-hidden hidden dt-update">{{page.update}}</time> <time datetime="{{page.update}}">
                          {% case hour %}
                              {% when '01' or '02' or '03' or '04' or '23' or '24' %}
                                  during the night
                              {% when '05' or '06' or '07' or '08' %}
                                  in the early morning
                              {% when '09' or '10' or '11'%}
                                  late in the morning
                              {% when '12' %}
                                  at noon
                              {% when '13' or '14' or '15' %}
                                  early in the afternoon
                              {% when '16' or '17' %}
                                  late in the afternoon
                              {% when '18' or '19' %}
                                  early in the evening
                              {% when '20' or '21' or '22' %}
                                  late in the evening
                          {%endcase%}
                          
                          on {{ dy }}, {{ m }} <sup>{% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}</sup> {% include fuzzy-date.html daysDiff=prevDateDiff label='ago' %}</time></br>
                        {% endif %}