---
layout: null
---

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gamma World Creatures in MCC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://www.tedt.org/css/gamma-world-cards.css" rel="stylesheet">

    <style type="text/css">
        
        a[hreflang]:after { 
            content: " [" attr(linkstatus) "]"; 
            color: #999;
            vertical-align: super;
            font-size: 70%;
            } 

    </style>

    <script src="https://www.tedt.org/js/jscii.js"></script>

</head>

<body>
    <Table>
        <tr>
            <td id=papermargin_left>
            </td>
            <td id="paper_printarea" class="tech-v">
                <p><a href="https://www.tedt.org/RPG/MCC-GW/">Back</a></p>
                <figure>
                    <img class="img-responsive img-thumbnail" src="https://www.tedt.org/RPG/MCC-GW/images/GammaWorldHeaderEdited.png" id="jscii-element-image">
                    <pre id="ascii-container-image"></pre>
                    <figcaption>The Creatures of Gamma World</figcaption>
                </figure>

			 <h1>The Creatures of Gamma World:</h1>
				{% for Monster in site.data.GammaWorldFixed.Creatures %}
					{% if Monster.Monster_Name != "" %}
						<h2>{{ Monster.Monster_Name }}</h2>
					{% else %}
						<h2>{{ Monster.Name }} {{ Monster.Common_Name }}</h2>
					{% endif %}
					{% if Monster.Normal_Text != "" %}
						<p>{{ Monster.Normal_Text }} </p>
					{% else %}
						<p>Conversion Not Complete</p>
					{% endif %}
					<p><strong>Mutations: </strong>{{ Monster.Mutations }}</p>
					{% if Monster.Size != "" %}
						<p><strong>Size:</strong> {{ Monster.Size }} </p>
					{% else %}
						<p><strong>Size:</strong> Unknown </p>
					{% endif %}
					{% if Monster.Frequency != "" %}
						<p><strong>Frequency:</strong> {{ Monster.Frequency }} </p>
					{% else %}
						<p><strong>Frequency:</strong> Unknown </p>
					{% endif %}
					{% if Monster.Tech_Level != 0 %}
						<p><strong>Tech Level:</strong> {{ Monster.Tech_Level }} 
						{% if Monster.Tech_Max != 0 %}
							- {{ Monster.Tech_Max }}
						{% else %}
							unknown 
						{% endif %}</p>
					{% else %}
						<p><strong>Tech Level:</strong> Unknown </p>
					{% endif %}
					{% if Monster.Artifacts != "" %}
						<p><strong>Preferred Artifacts:</strong> {{ Monster.Artifacts }} </p>
					{% else %}
						<p><strong>Preferred Artifacts:</strong> Unknown </p>
					{% endif %}
					
					<hr>
					{% if Monster.New_Description != "" %}
						{% if Monster.Description_Output != "" %}
						<p><strong>Description (Initial Observation):</strong> {{ Monster.Description_Output }}</p>
						<p><strong>Description (Observation 1):</strong> {{ Monster.New_Description }}</p>
						{% else %}
							<p><strong>Description:</strong> {{ Monster.New_Description }}</p>
						{% endif %}
					{% else %}
						{% if Monster.Description_Output != "" %}
							<p><strong>Description:</strong> {{ Monster.Description_Output }}</p>
						{% else %}
							<p><strong>Description:</strong> Unknown </p>
						{% endif %}
					{% endif %}


					{% if Monster.Combat != "" %}
						<p><strong>Combat:</strong> {{ Monster.Combat }}</p>
					{% else %}
						<p><strong>Combat:</strong> Unobserved in Combat</p>
					{% endif %}

					{% if Monster.Society != "" %}
						<p><strong>Society:</strong> {{ Monster.Society }}</p>
					{% else %}
						<p><strong>Society:</strong> Anthropological Studies incomplete</p>
					{% endif %}

					{% if Monster.Behavior != "" %}
						<p><strong>Behavior:</strong> {{ Monster.Behavior }}</p>
					{% else %}
						<p><strong>Behavior:</strong> Behavior modeling incomplete</p>
					{% endif %}


					{% if Monster.Organization != "" %}
						<p><strong>Preferred Community Type:</strong> {{ Monster.Organization }} </p>
					{% else %}
						<p><strong>Preferred Community Type:</strong> Unknown </p>
					{% endif %}
					{% if Monster.Activity_Cycle != "" %}
						<p><strong>Preferred Activity Cycle:</strong> {{ Monster.Activity_Cycle }} </p>
					{% else %}
						<p><strong>Preferred Activity Cycle:</strong> Unknown </p>
					{% endif %}
					{% if Monster.Diet != "" %}
						<p><strong>Preferred Diet:</strong> {{ Monster.Diet }} </p>
					{% else %}
						<p><strong>Preferred Diet:</strong> Unknown </p>
					{% endif %}
					{% if Monster.Habitat != "" %}
						<p><strong>Preferred Habitat:</strong> {{ Monster.Habitat }} </p>
					{% else %}
						<p><strong>Preferred Habitat:</strong> Unknown </p>
					{% endif %}
					<hr>
				{% endfor %}

			</td>
            <td id="papermargin_right">
            </td>
        </tr>
    </Table>
    <script>
        // put in the image
        var imgJscii = new Jscii({
            width: 200,
            color: true,
            el: document.getElementById('jscii-element-image'),
            fn: function(str) {
                document.getElementById('ascii-container-image').innerHTML = str;
            }
        });
        document.getElementById('jscii-element-image').style.display = 'none';
    </script>






</body>






