---
layout: null
---

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gamma World Creatures in MCC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://www.tedt.org/css/gamma-world-cards.css" rel="stylesheet">

    <style type="text/css">
        
        a[hreflang]:after { 
            content: " [" attr(linkstatus) "]"; 
            color: #999;
            vertical-align: super;
            font-size: 70%;
            } 

    </style>

    <script src="https://www.tedt.org/js/jscii.js"></script>

</head>

<body>
    <Table>
        <tr>
            <td id=papermargin_left>
            </td>
            <td id="paper_printarea" class="tech-v">
                <p><a href="https://www.tedt.org/RPG/MCC-GW/">Back</a></p>
                <figure>
                    <img class="img-responsive img-thumbnail" src="https://www.tedt.org/RPG/MCC-GW/images/GammaWorldHeaderEdited.png" id="jscii-element-image">
                    <pre id="ascii-container-image"></pre>
                    <figcaption>The Creatures of Gamma World</figcaption>
                </figure>

			<h1>The Creatures of Gamma World:</h1>

			{% assign sorted_GammaWorldFixed = site.data.GammaWorldFixed.Creatures | sort: 'Name' %}

			{% comment %}
			{% assign sorted_GammaWorldFixed = site.data.GammaWorldv4.Creatures | sort: 'Name' %}
			{% endcomment %}

				 {% for Monster in sorted_GammaWorldFixed %}
					{% if Monster.Monster_Name != "" %}
						<h2>{{ Monster.Monster_Name }}</h2>
					{% else %}
						<h2>{{ Monster.Name }} {{ Monster.Common_Name }}</h2>
					{% endif %}

					<img style="float: right;" src="https://www.tedt.org/RPG/MCC-GW/images/Monster-Manual/{{ Monster.Name }}.png" width="25%" onError="this.onerror=null;this.src='https://www.tedt.org/RPG/MCC-GW/images/Monster-Manual/noimage.png';">

					{% if Monster.Author != "" %}
						<strong>Reported By:</strong> {{ Monster.Author }}
					{% else %}
						<strong>Reported By:</strong> unknown contributor
					{% endif %}
					{% if Monster.Source != "" %}
						in {{ Monster.Source }}
					{% else %}
						in <i>data source corrupted</i>.
					{% endif %}


					{% if Monster.Role_In_Gamma_World != "" %}
						<p><strong>Role:</strong> {{ Monster.Role_In_Gamma_World }}
					{% else %}
						<p><strong>Role:</strong> Unknown
					{% endif %}</br>
					{% if Monster.Base_Stock != "" %}
						<strong>Base Stock:</strong> {{ Monster.Base_Stock }} </p>
					{% else %}
						<strong>Base Stock:</strong> Unknown </p>
					{% endif %}

					{% if Monster.Normal_Text != "" %}
						<p><strong>MCC Stat Block:</strong> {{ Monster.Normal_Text }}
					{% else %}
						<p>Conversion Not Complete
					{% endif %}</br>
					{% if Monster.Mutations != "" %}
						<strong>Mutations: </strong>{{ Monster.Mutations }}</p>
					{% else %}
						<strong>Mutations: </strong>Unknown</p>
					{% endif %}
					

					<p>{% if Monster.Number_Appearing_Dice != "" %}
						<strong>Number Appearing: </strong>{{ Monster.Number_Appearing_Dice }}
					{% else %}
						<strong>Number Appearing: </strong>More observations needed
					{% endif %}</br>
					{% if Monster.Morale != "" %}
						<strong>Morale: </strong>{{ Monster.Morale }}
					{% else %}
						<strong>Morale: </strong>More observations needed
					{% endif %}</br>

					{% if Monster.New_HD_xdx_plus_minus != "" %}
						<strong>Hit Dice: </strong>{{ Monster.New_HD_xdx_plus_minus }}
					{% else %}
						<strong>Hit Dice: </strong>More observations needed
					{% endif %}</br>

					{% if Monster.Armor != "" %}
						<strong>Armor: </strong>{{ Monster.Armor }} ({{ Monster.AC_xx }})
					{% else %}
						<strong>Armor: </strong>More observations needed
					{% endif %}</br>
					{% if Monster.Size != "" %}
						<strong>Size:</strong> {{ Monster.Size }}
					{% else %}
						<strong>Size:</strong> Unknown
					{% endif %}</p>

					{% if Monster.MV_xx != "" %}
						<p><strong>Movement: </strong>{{ Monster.MV_xx }}</p>
					{% else %}
						<p><strong>Movement: </strong>More observations needed</p>
					{% endif %}

					<p>{% if Monster.New_Attack_1 != "" %}
						<strong>Attack: </strong>{{ Monster.New_Attack_1 }}
						{% if Monster.New_Attack_2 != "" %}
							{{ Monster.New_Attack_1 }}
						{% endif %}</p>
						{% else %}
						<strong>Attack: </strong>More observations needed
					{% endif %}</p>

					<table>
						<tr>
							<td>
								{% if Monster.MS != "" %}
									<strong>MS: </strong>{{ Monster.MS }}
								{% else %}
									<strong>MS: </strong>More observations needed
								{% endif %}

							</td>
							<td>
								{% if Monster.PS != "" %}
									<strong>PS: </strong>{{ Monster.PS }}
								{% else %}
									<strong>PS: </strong>More observations needed
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>
								{% if Monster.IN != "" %}
									<strong>IN: </strong>{{ Monster.IN }}
								{% else %}
									<strong>IN: </strong>More observations needed
								{% endif %}
							</td>
							<td>
							{% if Monster.DX != "" %}
								<strong>DX: </strong>{{ Monster.DX }}
							{% else %}
								<strong>DX: </strong>More observations needed
							{% endif %}
							</td>
						</tr>
						<tr>
							<td>
								{% if Monster.CH != "" %}
									<strong>CH: </strong>{{ Monster.CH }}
								{% else %}
									<strong>CH: </strong>More observations needed
								{% endif %}
							</td>
							<td>
								{% if Monster.CN != "" %}
									<strong>CN: </strong>{{ Monster.CN }}
								{% else %}
									<strong>CN: </strong>More observations needed
								{% endif %}
							</td>
						</tr>
					</table>
					<p>{% if Monster.Frequency != "" %}
						<strong>Frequency:</strong> {{ Monster.Frequency }}
					{% else %}
						<<strong>Frequency:</strong> Unknown
					{% endif %}</br>
					{% if Monster.Organization != "" %}
						<strong>Organization:</strong> {{ Monster.Organization }}
					{% else %}
						<strong>Organization:</strong> Unknown
					{% endif %}</br>
					{% if Monster.Activity_Cycle != "" %}
						<strong>Activity Cycle:</strong> {{ Monster.Activity_Cycle }}
					{% else %}
						<strong>Activity Cycle:</strong> Unknown
					{% endif %}</br>
					{% if Monster.Diet != "" %}
						<strong>Diet:</strong> {{ Monster.Diet }}
					{% else %}
						<strong>Diet:</strong> Unknown
					{% endif %}</br>
					{% if Monster.Habitat != "" %}
						<strong>Habitat:</strong> {{ Monster.Habitat }}
					{% else %}
						<strong>Habitat:</strong> Unknown
					{% endif %}</br>
					{% if Monster.Tech_Level != 0 %}
						<strong>Tech Level:</strong> {{ Monster.Tech_Level }} 
						{% if Monster.Tech_Max != 0 %}
							- {{ Monster.Tech_Max }}
						{% else %}
							unknown 
						{% endif %}
					{% else %}
						<strong>Tech Level:</strong> Unknown </p>
					{% endif %}</br>
					{% if Monster.Artifacts != "" %}
						<strong>Artifacts:</strong> {{ Monster.Artifacts }}
					{% else %}
						<strong>Artifacts:</strong> Unknown
					{% endif %} </p>

					{% if Monster.New_Description != "" %}
						{% if Monster.Description_Output != "" %}
						<p><strong>Description (Initial Observation):</strong> {{ Monster.Description_Output }}</p>
						<p><strong>Description (Observation 1):</strong> {{ Monster.New_Description }}</p>
						{% else %}
							<p><strong>Description:</strong> {{ Monster.New_Description }}</p>
						{% endif %}
					{% else %}
						{% if Monster.Description_Output != "" %}
							<p><strong>Description:</strong> {{ Monster.Description_Output }}</p>
						{% else %}
							<p><strong>Description:</strong> Unknown </p>
						{% endif %}
					{% endif %}


					{% if Monster.Combat != "" %}
						<p><strong>Combat:</strong> {{ Monster.Combat }}</p>
					{% else %}
						<p><strong>Combat:</strong> Unobserved in Combat</p>
					{% endif %}

					{% if Monster.Society != "" %}
						<p><strong>Society:</strong> {{ Monster.Society }}</p>
					{% else %}
						<p><strong>Society:</strong> Anthropological studies incomplete</p>
					{% endif %}

					{% if Monster.Behavior != "" %}
						<p><strong>Behavior:</strong> {{ Monster.Behavior }}</p>
					{% else %}
						<p><strong>Behavior:</strong> Behavior modeling incomplete</p>
					{% endif %}
					<hr>
				{% endfor %}

			</td>
            <td id="papermargin_right">
            </td>
        </tr>
    </Table>
    <script>
        // put in the image
        var imgJscii = new Jscii({
            width: 150,
            color: true,
            el: document.getElementById('jscii-element-image'),
            fn: function(str) {
                document.getElementById('ascii-container-image').innerHTML = str;
            }
        });
        document.getElementById('jscii-element-image').style.display = 'none';
    </script>
</body>






