<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Allows control over where resources are loaded from. Place as early in the document as possible, only applies to content below this tag. -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'">-->

    <!-- Base URL to use for all relative URLs contained within the document -->
    <base href="{{ site.siteurl }}">


    <!-- PWA Code -->
    <link rel="manifest" href="manifest.webmanifest">
    <meta name="theme-color" content="#222222">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- IndieAuth.com -->
    {% if site.keybaseio_username %}
        <link href="https://keybase.io/{{ site.keybaseio_username }}" rel="me">
    {% endif %}
    {% if site.github_username or
          site.linkedin_username or
          site.twitter_username or
          site.facebook_username or
          site.google_username or
          site.youtube_username or
          site.pinterest_username or
          site.reddit_username or
          site.instagram_username or
          site.quora_username %}

            {% if site.github_username %}
                <link href="https://github.com/{{ site.github_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.linkedin_username %}
                <link href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.twitter_username %}
                <link href="https://twitter.com/{{ site.twitter_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site.facebook_username %}
                <link href="https://www.facebook.com/{{ site.facebook_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site.google_username %}
                <link href="https://plus.google.com/u/0/+{{ site.google_username }}" rel="me">
            {% else %}
            {% endif %}
            {% if site.youtube_username %}
                <link href="https://www.youtube.com/user/{{ site.youtube_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.pinterest_username %}
                <link href="https://www.pinterest.com/{{ site.pinterest_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.reddit_username %}
                <link href="https://www.reddit.com/user/{{ site.reddit_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.instagram_username %}
                <link href="https://www.instagram.com/{{ site.instagram_username }}/" rel="me">
            {% else %}
            {% endif %}
            {% if site.quora_username %}
                <link href="https://www.quora.com/profile/{{ site.quora_username }}/" rel="me">
            {% else %}
            {% endif %}
    {% endif %}
    
    <!-- Webmentions -->
    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />

    <!-- Indieauth.com/ 
         MICROPUB_TOKEN_ENDPOINT Required
         The token endpoint to verify the micropub token against. See: https://indieweb.org/token-endpoint
    -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link href="https://micropub-to-github-for-ted.herokuapp.com/micropub/main" rel="micropub">

    <!-- Favicon Meta Tags.  -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="icon" sizes="16x16"   type="image/png" href="{{ site.siteurl }}/img/favicon-16x16.png">
    <link rel="icon" sizes="32x32"   type="image/png" href="{{ site.siteurl }}/img/favicon-32x32.png">
    <link rel="icon" sizes="48x48"   type="image/png" href="{{ site.siteurl }}/img/android-chrome-48x48.png">
    <link rel="icon" sizes="62x62"   type="image/png" href="{{ site.siteurl }}/img/favicon-62x62.png">
    <link rel="icon" sizes="128x128" type="image/png" href="{{ site.siteurl }}/img/favicon-128x128.png">
    <link rel="icon" sizes="192x192" type="image/png" href="{{ site.siteurl }}/img/android-chrome-192x192.png" >

    <!-- Apple iOS Settings. -->
    <!--Sets whether a web application runs in full-screen mode. -->
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <!-- Color of the status bar -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Web App Name for the Shortcut -->
    <meta name="apple-mobile-web-app-title"            content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <!-- Do Not Detect Phone Numbers -->
    <meta name="format-detection"                      content="telephone=no">

    <!-- iPhone icons -->
    <link rel="apple-touch-icon"                 href="{{ site.siteurl }}/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57"   href="{{ site.siteurl }}/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="{{ site.siteurl }}/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.siteurl }}/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.siteurl }}/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.siteurl }}/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.siteurl }}/img/apple-touch-icon-180x180.png">
    <!--<link rel="apple-touch-icon-precomposed"     href="/img/apple-touch-icon-precomposed.png">-->
    <!-- TODO: Add in Splash Screens with apple-touch-startup-image -->



    <!-- Apple Safari Pinned Site. -->
    <link rel="mask-icon" href="{{ site.siteurl }}/img/Tschopp.svg" color="black">

    <!-- App Banner and link to app store. -->
    <!--
    <meta name="apple-itunes-app" content="app-id=APP_ID, affiliate-data=AFFILIATE_ID, app-argument=http/url-sample.com">
    -->
    <!-- Apple iOS app deep linking. -->
    <!--
    <link rel="alternate" href="ios-app://APP-ID/http/url-sample.com">
    <meta property="al:ios:url" content="applinks://docs">
    <meta property="al:ios:app_store_id" content="12345">
    <meta property="al:ios:app_name" content="App Links">
    -->

    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <!--
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    -->

    <!-- Google Android. -->
    <!--
    <meta name="theme-color" content="#E64545">
    <meta name="google-play-app" content="app-id=package-name">
    -->
    <!-- Android app deep linking. -->
    <!--
    <link rel="alternate" href="android-app://package-name/http/url-sample.com">
    <meta property="al:android:url" content="applinks://docs">
    <meta property="al:android:app_name" content="App Links">
    <meta property="al:android:package" content="org.applinks">
  -->

    <!-- Google Chrome. -->
    <link rel="icon" type="image/png" sizes="36x36" href="{{ site.siteurl }}/img/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ site.siteurl }}/img/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="{{ site.siteurl }}/img/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.siteurl }}/img/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="{{ site.siteurl }}/img/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.siteurl }}/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="384x384" href="{{ site.siteurl }}/img/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="256x256" href="{{ site.siteurl }}/img/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ site.siteurl }}/img/android-chrome-512x512.png">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/APP_ID">
    <meta name="google" value="notranslate">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ site.siteurl }}/img/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">
    <!-- Windows Internet Explorer. -->
    <meta http-equiv="cleartype"                   content="on">
    <meta name="skype_toolbar"                     content="skype_toolbar_parser_compatible">
    <meta name="msapplication-tap-highlight"       content="no">
    <meta name="application-name"                  content="{{ site.name }}">
    <meta name="msapplication-tooltip"             content="{{ site.name }}">
    <meta name="msapplication-starturl"            content="/">
    <meta name="msapplication-square150x150logo"   content="{{ site.siteurl }}/img/mstile-150x150.png">
    <meta name="msapplication-square310x310logo"   content="{{ site.siteurl }}/img/mstile-310x310.png">
    <meta name="msapplication-square70x70logo"     content="{{ site.siteurl }}/img/mstile-70x70.png">
    <meta name="msapplication-wide310x150logo"     content="{{ site.siteurl }}/img/mstile-310x150.png">
    <meta name="msapplication-navbutton-color"     content="#FF3300">
    <meta name="msapplication-TileColor"           content="#FF3300">
    <meta name="msapplication-TileImage"           content="{{ site.siteurl }}/img/mstile-144x144.png">
    <meta name="msapplication-task-separator"      content="1">
    <meta name="msapplication-task"                content="name=Contact {{ site.givenname }};
                                                            action-uri=./#contact;
                                                            icon-uri=./img/favicon.ico">
    <meta name="msapplication-task"                content="name={{ site.givenname }}'s Projects;
                                                            action-uri=./#projects;
                                                            icon-uri=./img/favicon.ico">
    <meta name="msapplication-allowDomainApiCalls" content="false">
    <meta name="msapplication-allowDomainMetaTags" content="false">
    <meta name="msapplication-window"              content="width=1024;height=768">
    <!--
    <meta name="msapplication-badge"               content="frequency=30; polling-uri=http://example.com/id45453245/polling.xml">
    <meta name="msapplication-notification"        content="frequency=60;polling-uri=http://example.com/livetile">
    -->

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author" content="{{ site.givenname }} {{ site.familyname }}">
    <link rel="author" href="/humans.txt">
    <link rel="copyright" href="/copyright.html">

    <!-- Geo Positioning Meta Tags. -->
    <!--
    <meta name="geo.position"  content="50.97590;0.01722">
    <meta name="geo.region"    content="GB">
    <meta name="geo.placename" content="London, United Kingdom">
    <meta name="ICBM"          content="50.9759, 0.0172">
    <meta name="DC.title"      content="Location Name">
    -->
    <!-- Search Eengine and Browser Meta Tags. -->
    <!-- The description of the website. Keep under 500 characters -->
    <meta name="description" content="{{ site.description }}">
    <!-- The short description of the website.  Keep uder 100 characters -->
    <meta name="abstract"    content="{{ site.name }}">

    <!-- Search engine robots Meta Tags. -->
    <!-- Disable from all search engines.-->
    <!--<meta name="robots" content="noindex, nofollow, noodp, noydir, noarchive">-->

    <!-- Facebook web site appID  -->
    <meta property="fb:app_id"           content="1939132006351436" />
    <!-- Open Graph Meta Tags (ogp.me) -->
    <meta property="og:image"            content="https://www.tedt.org/img/webpage_thumbnail.png">  <!-- Web page thumbnail -->
    <meta property="og:image:alt"        content="{{site.name}}">  <!-- Web page thumbnail -->
    <!-- Web site title -->
    <meta property="og:site_name"        content="{{ site.name }}">
    <!-- Web page title -->
    <meta property="og:title"            content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <!-- Web page description -->
    <meta property="og:description"      content="{{ site.description }}">
    <!-- Content type ["product", "blog", "website", "book", "movie", ... ] -->
    <meta property="og:type"             content="website">
    <!-- Url to this web page -->
    <meta property="og:url"              content="{{ site.siteurl }}">
    <!-- Main Language -->
    <meta property="og:locale"           content="en_US">
    <!-- Alternate Language -->
    <!--
    <meta property="og:locale:alternate" content="fr_FR">
    <meta property="og:locale:alternate" content="es_ES">
    -->

    <!-- Geographical coordenates -->
    <!--
    <meta property="og:latitude"         content="50.97590">
    <meta property="og:longitude"        content="0.017221">
    -->
    <!-- Postal Address -->
    <!-- <meta property="og:street-address"   content="Flat 1, 26 Street Name"> -->
    <!-- Locality -->
    <!-- <meta property="og:locality"         content="London"> -->
    <!-- Region -->
    <!-- <meta property="og:region"           content="London"> -->
    <!-- Post code -->
    <!-- <meta property="og:postal-code"      content="N1 PLE"> -->
    <!-- Country -->
    <!-- <meta property="og:country-name"     content="UK"> -->

    <!-- Contact email -->
    <meta property="og:email"            content="{{ site.email }}">
    <!-- Contact phone number -->
    <meta property="og:phone_number"     content="{{site.phonenumber}}">

    <!-- Video file url-->
    <!-- <meta property="og:video"            content="http://example.com/video.flv"> -->
    <!-- Video height -->
    <!-- <meta property="og:video:height"     content="640"> -->
    <!-- Video width -->
    <!-- <meta property="og:video:width"      content="385"> -->
    <!-- Video file format mime type -->
    <!-- <meta property="og:video:type"       content="application/x-shockwave-flash"> -->

    <!-- Audio file url -->
    <!-- <meta property="og:audio"            content="http://example.com/audio.mp3"> -->
    <!-- Audio title -->
    <!-- <meta property="og:audio:title"      content="Song Title"> -->
    <!-- Audio artist -->
    <!-- <meta property="og:audio:artist"     content="Name of Band"> -->
    <!-- Audio album title-->
    <!-- <meta property="og:audio:album"      content="Album Title"> -->
    <!-- Audio file format mime type -->
    <!-- <meta property="og:audio:type"       content="application/mp3"> -->

    <!-- UPC EAN barcodes-->
    <!-- <meta property="og:upc"              content="885909367481"> -->
    <!-- Book ISBN number-->
    <!-- <meta property="og:isbn"             content="1873520786"> -->

    <!-- Facebook Meta Tags. -->
    <!-- <meta property="fb:app_id"           content="123456789"> -->


    <!-- Twitter Meta Tags. -->
    <meta name="twitter:card"            content="summary">
    <meta name="twitter:site"            content="@site_account">
    <meta name="twitter:creator"         content="@{{ site.twitter_username }}">
    <meta name="twitter:url"             content="{{ site.siteurl }}">
    <meta name="twitter:title"           content="{{ site.title }}">
    <meta name="twitter:description"     content="{{ site.description }}">
    <meta name="twitter:image"           content="{{ site.siteurl }}img/apple-touch-icon-180x180.png">
    <meta name="twitter:image:alt"       content="{{ site.logo-alt}}">

    <!-- Pinterest. -->
    <!-- Prevents sharing of content by Pinterest users. -->
    <!--<meta name="pinterest" content="nopin" description="Sorry, you can't save from my website!">-->
    <!-- Pinterest Verify -->
    <meta name="p:domain_verify" content="{{ site.pinterest_domain_verify }}"/>

    <!-- News Feed Meta Tags. -->
    {% feed_meta %}
    <!--
    <link rel="alternate" type="application/rss+xml"  title="Example (Feedburner)" href="//feeds.feedburner.com/example">
    <link rel="alternate" type="application/atom+xml" title="Example (Atom 0.3)"   href="//example.com/atom.xml">
    <link rel="alternate" type="application/rss+xml"  title="Example (RSS 2.0)"    href="//example.com/rss.xml">
    <link rel="alternate" type="application/json"     title="Example (JSON)"       href="//example.org/feed.json" />
    -->

    <!-- Bootstrap Core CSS -->
    {% include css-bootstrap.html %}

    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    {% include css-font-awesome.html %}

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Start of Async Drift Code -->
    <!-- {% include js-drift.html %} -->

    <!--  Fullstory Code Start -->
    <!-- {% include js-fullstory.html %} -->

    <!-- Start MailChip Code -->
    {% include js-mailchimp.html %} 

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M88BX7J');</script>
    <!-- End Google Tag Manager -->

</head>

<body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M88BX7J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include js-facebook-analytics.html %}

    {% include navigation.html %}


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Ted Tschopp</h1>
                        <img src="/img/thumb3.jpg" class="intro-image-avatar">
                        <h3><span class="p-job-title">Enterprise Technology Architect <br> ⟨ Digital ⟩⟨ Automation ⟩</span></h3>
                        <hr class="intro-divider">
                        <span class="p-note">
                            <p class="lead">I am the enterprise technology architect focused on digital and automation portfolios at Southern California Edison(SCE), one of the United States' largest investor-owned utilities with a service territory of over 50,000 square miles consisting of 430 cities and home to nearly 14 million people. In this role I am responsible for providing major stake holders, executives, and senior management with strategic and actionable guidance focusing on the maturity and technical issues and risks associated with Web, Mobile, Social, and Automation ecosystems. I have been at SCE for over a decade.</p>
                            <p class="lead">Before working at Edison, I owned my own business which was featured in Wired Magazine. I founded the largest community website focused on the works of J.R.R. Tolkien. Prior to this I worked in for a market research company focusing on the automotive industry.</p>
                            <p class="lead">I love working in technology as it provides me with the opportunity to watch the future unfold. Some of the things I have worked on were considered science-fiction when I was in school. This means I get to work on hard problems with brilliant people using complex and cool tools.</p>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  {% for defaults in site.default %}
      {% assign Dtitle = defaults.title %}
      {% assign Dlead = defaults.lead %}
      {% assign Dimage = defaults.image %}
      {% assign Dname = defaults.name %}
      {% assign Dcontent = defaults.content %}

    <a name="{{ Dname }}"></a>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ Dtitle }}</h2>
                    <p class="lead">{{ Dlead }}</p>
                    {{Dcontent}}

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-thumbnail" src="{{ Dimage }}" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- /.container -->
    {% endfor %}


    <!-- .content-section-a -->
    <a name="blog"></a>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ted Tschopp's Blog</h2>
                    <p class="lead">A collection of writings I have put online over the years.  Some of it is really bad, and some of it I am proud of.  All of it can be made better. </p>
                    <ul>
                        {% assign count = 0 %}
                        {% for post in site.posts %}
                            {% if post.categories contains "Draft" or post.categories contains "Home" %}
                                <!-- Do Nothing -->
                            {% elsif post.layout contains "micropubpost" %}
                                <!-- Do Nothing -->
                            {% else %}
                                {% assign count = count | plus: 1 %}
                                {% if count > 5 %}
                                    {% break %}
                                {% endif %}
                              <li>
                                {% assign d = post.date | date: "%-d" %}{% assign m = post.date | date: "%B" %}{% assign dy = post.date | date: "%A" %}
                                <a href="{{ post.url }}">{{ post.title }}
                                </a>
                                {% if count == 1 %}
                                <p>{{ post.excerpt |truncatehtml | truncatewords: 20 }}</p>
                                {% endif %}
                              </li>
                            {% endif %}
                        {% endfor %}
                    </ul> 
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/img/blog.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- /.container-section-b -->

    <!-- /.content-section-a -->
    <a name="blog"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ted Tschopp's Drafts</h2>
                    <p class="lead">A collection of writings I am working on at this time.  Some of it is really bad, and some of it I am proud of.  All of it can be made better.</p>
                    <ul>
                    {% assign posts-drafts = site.posts | where_exp: "post", "post.categories contains 'Draft'" %}
                    {% for post in posts-drafts limit:5 %}
                      <li>
                        {% assign d = post.date | date: "%-d" %}{% assign m = post.date | date: "%B" %}{% assign dy = post.date | date: "%A" %}
                        <a href="{{ post.url }}">{{ post.title }} 
                            <!-- {{ dy }}, {{ m }} {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ post.date | date: "%Y" }}-->
                        </a>
                        {% if forloop.first %}
                        <p>{{ post.excerpt |truncatehtml | truncatewords: 20 }}</p>
                        {% endif %} 
                      </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/img/blog-draft.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

<!--- Trying to CMS the Entries on the Homepage --->


        {% assign count = 0 %}
        {% for post in site.posts %}
            {% if post.categories contains contains "Home" %}
                {% assign count = count | plus: 1 %}
                {% assign mod = count | modulo: 2 %}
                {% if mod == 1 %}
                    <!-- odd -->

                    <a name="{{ post.title | handleize}}"></a>

                    <div class="content-section-a">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-sm-6">
                                    <div class="clearfix"></div>
                                    <h2 class="section-heading">{{ post.title}}</h2>
                                    <p class="lead">{{ post.description}}</p>
                                    <ul>
                                        {% for bullet in post.bullets %}
                                            <li>{{ bullet }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                    <img class="img-responsive img-thumbnail" src="{{post.image-credits-URL}}" alt="{{image-credits-title}} by {{image-credits-artist}}">
                                </div>
                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.content-section-a -->


                {% else %}
                    <!-- even -->

                    <a name="{{ post.title | handleize}}"></a>

                    <div class="content-section-b">

                        <div class="container">

                            <div class="row">
                                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                                    <div class="clearfix"></div>
                                    <h2 class="section-heading">{{ post.title}}</h2>
                                    <p class="lead">{{ post.description}}</p>
                                    <ul>
                                        {% for bullet in post.bullets %}
                                            <li>{{ bullet }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                                    <img class="img-responsive img-thumbnail" src="{{post.image-credits-URL}}" alt="{{image-credits-title}} by {{image-credits-artist}}">
                                </div>
                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.content-section-b -->

                {% endif %}


            {% endif %}
        {% endfor %}















<!---  Ending CMS homepage --->

    <!-- /.content-section-b -->
    <a name="ArchitectForAutomation"></a>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Enterprise Technology Architect for Automation at Southern California Edison</h2>
                    <p class="lead">Technology architect responsible SCE's Automation portfolio providing strategy, technology road map, and product management for automation solutions. </p>
                    <ul>
                        <li>181K+ hours saved annually</li>
                        <li>40+ process automated</li>
                        <li>25+ bots deployed</li>
                        <li>$6.5 Million in annual costs avoided</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/img/automation.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- /.content-section-a -->

    <a name="ArchitectForDigital"></a>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Enterprise Technology Architect for Digital at Southern California Edison</h2>
                    <p class="lead">Technology architect responsible SCE's digital portfolio of over 500 properties and $30M annual budget providing strategy, technology road map, and product management for digital solutions. </p>
                    <ul>
                        <li>40%+ Mobile Traffic</li>
                        <li>200K+ Followers on Social</li>
                        <li>2M+ Monthly Active Users</li>
                        <li>3.75M+ Transactions a Month</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/img/web.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <a name="ArchitectforSCEcom"></a>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                        <h2 class="section-heading">Program Architect for <a target="_blank" rel="noopener noreferrer" href="http://www.sce.com/">SCE.com</a></h2>
                        <p class="lead">Technical team lead and single-point of contact for technical accountability on SCE's eCommerce channel from project concept through completion.</p>
                            <ul>
                                <li>50% cost savings on SCE’s first mobile app for iOS and Android</li>
                                <li>$12M savings on SCE.com rebranding project’s costs using agile methodologies focusing on expected outcomes</li>
                                <li>Seat on IBM’s Digital Experience Customer Advisory Council</li>
                                <li>20 index point increase in user satisfaction through a mobile first strategy</li>
                                <li>Developed technology portion of business case for capital program - $70M</li>
                                <li>40% increase in self-service transactions</li>
                                <li>10 x increase in mobile page views to +40% of site traffic</li>
                                <li>75% increase for turn on/off service and 75% decrease in manual order processing</li>
                                <li>Represented SCE’s digital and ecommerce interests on the Utility Information Technology Benchmark (UNITE) group.</li>
                            </ul>

                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive img-thumbnail" src="/img/sce_com.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <a name="FounderTolkienOnline"></a>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Founder of <a target="_blank" rel="noopener noreferrer" href="http://www.theonering.com">The One Ring: Tolkien Online</a></h2>
                    <p class="lead">Founded and managed the most popular website dedicated to the works of J.R.R. Tolkien and the Lord of the Rings.</p>
                    <ul>
                        <li>Recognized in leading periodicals such as Los Angeles Times, CNN, and The Guardian UK</li>
                        <li>Interviewed and featured in Wired Magazine September 2001 Issue</li>
                        <li>Ranked as a top 10,000 website by Alexa</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/img/tolkienonline.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.content-section-b -->
    <a name="ProceduralTextGeneration"></a>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a target="_blank" rel="noopener noreferrer" href="https://tedtschopp.github.io/randomtables/">Procedural Text Generation</a></h2>
                    <p class="lead">An application that generates text using procedural methods.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/img/table.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <a name="PasswordChallange"></a>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a target="_blank" rel="noopener noreferrer" href="https://tedtschopp.github.io/The-Password-Challange/Password%20Challange.html">The Password Challange</a></h2>
                    <p class="lead">Check the strength of your password based on mathmatical models that take into account the latest hacking techniques!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/img/password.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <a name="TwitterBot"></a>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/randomgamenight">Twitterbot: Random Board Game Night</a></h2>
                    <p class="lead">An application of the Procedural Text Generation system to create a new game for you to play every hour.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-thumbnail" src="/img/boardgamenight.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->





    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row vcard" id="hcard-{{ site.givenname }}-{{ site.familyname }}">
                <div class="col-lg-12">
                    <h2 class="fnp-name">Contact <span class="fn n"><span class="p-given-name">{{ site.givenname }}</span> <span class="p-family-name">{{ site.familyname }}</span></span></h2>
                </div>
                <div class="col-lg-12 hidden">
                    <img src="/img/thumb1.jpg" alt="Photo of {{ site.givenname }} {{ site.familyname }}" class="photo u-photo"/>
                    <div class="p-adr hidden">
                        <span class="p-locality">{{ site.locality }}</span>,
                        <span class="p-region">{{ site.region }}</span>
                        <span class="p-country-name">{{ site.country }}</span>
                        <span class="p-note hidden aria-hidden">
                            <p>I am the enterprise technology architect focused on digital and automation portfolios at Southern California Edison(SCE), one of the United States' largest investor-owned utilities with a service territory of over 50,000 square miles consisting of 430 cities and home to nearly 14 million people. In this role I am responsible for providing major stake holders, executives, and senior management with strategic and actionable guidance focusing on the maturity and technical issues and risks associated with Web, Mobile, Social, and Automation ecosystems. I have been at SCE for over a decade.</p>
                            <p>Before working at Edison, I owned my own business which was featured in Wired Magazine. I founded the largest community website focused on the works of J.R.R. Tolkien. Prior to this I worked in for a market research company focusing on the automotive industry.</p>
                            <p>I love working in technology as it provides me with the opportunity to watch the future unfold. Some of the things I have worked on were considered science-fiction when I was in school. This means I get to work on hard problems with brilliant people using complex and cool tools.</p>
                        </span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="{{ site.siteurl }}" rel="me" class="btn btn-default btn-lg u-url"><i class="fa fa-home fa-fw"></i> <span class="network-name">Home Page</span></a>
                        </li>
                        {% if site.keybaseio_username %}
                        <li>
                            <a href="https://keybase.io/{{ site.keybaseio_username }}" rel="me" class="btn btn-default btn-lg"><i class="fa fa-key fa-fw"></i> <span class="network-name">Keybase.io</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.email %}
                        <li>
                            <a href="mailto:{{ site.email }} " rel="me" class="btn btn-default btn-lg u-email"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.whatsapp_username %}
                        <li>
                            <a href="https://api.whatsapp.com/send?phone={{ site.whatsapp_username }}" rel="me" class="btn btn-default btn-lg u-url"><i class="fa fa-whatsapp fa-fw"></i> <span class="network-name">WhatsApp</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.phonenumber %}
                        <li>
                            <a href="tel:{{ site.phonenumber }}" rel="me" class="btn btn-default btn-lg p-tel"><i class="fa fa-phone fa-fw"></i> <span class="network-name">{{ site.phonenumber }}</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                    </ul>
                </div>

                {% if site.github_username or
                      site.linkedin_username or
                      site.twitter_username or
                      site.facebook_username or
                      site.google_username or
                      site.youtube_username or
                      site.pinterest_username or
                      site.reddit_username or
                      site.instagram_username or
                      site.quora_username %}

                <div class="col-lg-12">
                    <a  name="elsewhere"></a>
                    <h3 class="fnp-name">Elsewhere Online</h2>
                </div>
                <div class="col-lg-12">
                    <ul class="list-inline intro-social-buttons">
                        {% if site.github_username %}
                        <li>
                            <a href="https://github.com/{{ site.github_username }}/" rel="me" class="btn btn-default btn-lg u-x-github u-url"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.linkedin_username %}
                        <li>
                            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" rel="me" class="btn btn-default btn-lg u-x-linkedin u-url"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.twitter_username %}
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_username }}" rel="me" class="btn btn-default btn-lg u-x-twitter u-url"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.facebook_username %}
                        <li>
                            <a href="https://www.facebook.com/{{ site.facebook_username }}" rel="me" class="btn btn-default btn-lg u-x-facebook u-url"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.google_username %}
                        <li>
                            <a href="https://plus.google.com/u/0/+{{ site.google_username }}" rel="me" class="btn btn-default btn-lg u-x-google u-url"><i class="fa fa-google-plus-official fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.youtube_username %}
                        <li>
                            <a href="https://www.youtube.com/user/{{ site.youtube_username }}/" rel="me" class="btn btn-default btn-lg u-x-youtube u-url"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">YouTube</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.pinterest_username %}
                        <li>
                            <a href="https://www.pinterest.com/{{ site.pinterest_username }}/" rel="me" class="btn btn-default btn-lg u-x-pinterest u-url"><i class="fa fa-pinterest fa-fw"></i> <span class="network-name">Pinterest</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.reddit_username %}
                        <li>
                            <a href="https://www.reddit.com/user/{{ site.reddit_username }}/" rel="me" class="btn btn-default btn-lg u-x-reddit u-url"><i class="fa fa-reddit fa-fw"></i> <span class="network-name">Reddit</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.instagram_username %}
                        <li>
                            <a href="https://www.instagram.com/{{ site.instagram_username }}/" rel="me" class="btn btn-default btn-lg u-x-instagram u-url"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                        </li>
                        {% else %}
                        {% endif %}
                        {% if site.quora_username %}
                        <li>
                            <a href="https://www.quora.com/profile/{{ site.quora_username }}/" rel="me" class="btn btn-default btn-lg u-x-quora u-url"><i class="fa fa-quora fa-fw"></i> <span class="network-name">Quora</span></a>
                        </li>
                        {% else %}
                        {% endif %}

                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    {% include footer.html %}

    <!-- jQuery -->
    {% include js-jquery.html %}

    <!-- Bootstrap Core JavaScript -->
    {% include js-bootstrap.html %}

    <!-- Google Analytics JavaScript -->
    {% include js-google-analytics.html %}
</body>
</html>
