{
  "version": "1.0.0",
  "name": "Ted Tschopp",
  "launch_path": "/index.html",
  "description": "A front-end template that helps you build fast, modern mobile web apps.",
  "icons":
  {
    "60": "/img/apple-touch-icon-60x60.png",
    "128": "/img/favicon-128x128.png"
  },
  "developer":
  {
    "name": "",
    "url": ""
  },
  "installs_allowed_from": [
    "*"
  ],
  "default_locale": "en",
  "permissions":
  {},
  "locales":
  {
    "en":
    {
      "name": "Mobile Boilerplate",
      "description": "A front-end template that helps you build fast, modern mobile web apps."
    }
  }

  "theme_color": "#333333
"
}
