<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Game Empire Pasadena Mutant Crawl Classics Gamma World Adventures Important Links</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% include calculate-variables.html %}

    <!-- SEO Metadata -->
    {% include meta-data-seo.html %}

    <!-- Bootstrap Core CSS -->
    {% include all-css-includes.html %}

    <!-- Scripts that need to be at the end of the header -->
    {% include scripts.html %}

    <link href="https://www.tedt.org/css/gamma-world-cards.css" rel="stylesheet">

    <style type="text/css">


        a[hreflang]:after { 
            content: " [" attr(linkstatus) "]"; 
            color: #999;
            vertical-align: super;
            font-size: 70%;
            } 

        #paper_printarea {
            font-size: 1em;

        }

        article.h-entry > pre { font: bold 8px/5px monospace; color: #000; clear: left; }


    </style>

    <script src="https://www.tedt.org/js/jscii.js"></script>


</head>

<body>
    <Table>
        <tr>
            <td id=papermargin_left>
            </td>
            <td id="paper_printarea" class="tech-v">
                <!-- Blog Post -->
                <article class="h-entry">
                    <!-- Title -->
                    <h1 class="p-name">{{ page.title }}</h1>
                    <!-- Author TODO: Fix this to be dynamic for more than one author. -->
                    {% if page.author.name %}
                        <p class="lead">by <a rel="author" class="p-author h-card" href="{{ page.author.url }}"><img src="{{page.author.avatar}}" class="u-photo">{{page.author.name}}</a></p>
                    {% else %}
                        <p class="lead">by <a rel="author" class="p-author h-card" href="{{ site.author.url }}"><img src="{{site.author.avatar}}" class="u-photo">{{site.author.name}}</a></p>
                    {% endif %}

                    <hr>
                    
                    {% include publish-and-update-date-time-v2.html %}

                    <i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;<a href="{{ page.url }}#disqus_thread">&nbsp;Comments</a></br>

                    <img class="webmention-svg" height="1em" src="{{site.siteurl}}/img/webmention-logo.svg"></i>&nbsp;<a href="{{ page.url }}#webmention_thread">&nbsp;Webmentions</a></br>

                    <i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;Catagories:
                    {% assign categories = page.categories %}
                    {% for category in categories %}<span class="p-category">
                        {% capture thiscategory %}{{ category | strip }}{% endcapture %}
                        {% if forloop.length == 1 %}
                            {{thiscategory}}
                        {% elsif forloop.last and forloop.length == 2 %}
                            and {{thiscategory}}
                        {% elsif forloop.last %}
                            and {{thiscategory}}
                        {% else %}
                            {{thiscategory}}, 
                        {% endif %}
                        {% if thiscategory == "draft" or thiscategory == "Draft" %}
                            {% assign this_is_a_draft = true %}
                        {% endif %}</span>
                    {% endfor %}</br>

                    <span class="hidden aria-hidden u-url">{{ site.siteurl }}{{ page.url }}</span>

                    <hr>

                    <!-- <p class="lead">{{ page.excerpt | strip_html}}  {{ page.content | strip_html | truncatewords:75 }}</p> -->

                    <!-- Preview Image -->
                    <!--
                        TODO: Implement Smart Cropping on the images to make sure they are a minimum height, 
                        and still stay responsive: https://29a.ch/2014/04/03/smartcrop-content-aware-image-cropping

                        -->

                    {% if page.image %}
                    <figure>
                        <img class="img-responsive img-thumbnail" src="{{site.siteurl}}{{ page.image }}" id="jscii-element-image" alt="{{page.image-credits}}">
                        <pre id="ascii-container-image"></pre>
                          <figcaption>
                            {% if page.image-credits-URL or page.image-credits-title %}
                                <a target="_new" href="{{page.image-credits-URL}}">"{{page.image-credits-title}}" by {{page.image-credits-artist}}</a>
                            {% elsif page.image-credits %}
                                {{page.image-credits}}
                            {% else %}
                                Unknown
                            {% endif %}
                          </figcaption>
                    </figure>
                    {% endif %}

                    <hr>

                    <!-- In the event of a draft include a progress bar -->
                    {% assign draftstatus = page.draft-status %}
                    {% if this_is_a_draft == true %}
                        <aside class="well">
                            {% if draftstatus == "notes" or draftstatus == "" %}
                                <strong>Notes:</strong>
                                <p>This project is a collection of notes, links, and ideas that need to be brought together in one unit so it can be read and digested as one complete section of a larger work.</p>
                            {% elsif draftstatus == "unit" %}
                                <strong>Unit Testing:</strong>
                                <p>This project is a unit that can stand on it's own, but it needs more context within a larger set of work.</p>
                            {% elsif draftstatus == "integration" %}
                                <strong>Integration Testing:</strong>
                                <p>This project is a being edited to bring it into a larger work.  It could also being made generic so as to be used in multiple places.</p>
                            {% elsif draftstatus == "component" %}
                                <strong>Component Testing:</strong>
                                <p>This project is now a complete component ready for the larger work.  At this point, it can be published as a complete </p>
                            {% elsif draftstatus == "system" %}
                                <strong>System Testing:</strong>
                                <p>This project is a complete system, article, paper, or work.  It has yet to be shared with others to gain their feedback </p>
                            {% elsif draftstatus == "alpha" %}
                                <strong>Alpha Testing:</strong>
                                <p>This project is complete and it has had feedback from colleagues, friends, and friendly audiences.</p>
                            {% elsif draftstatus == "beta" %}
                                <strong>Beta Testing:</strong>
                                <p>This project is complete and it has had feedback from the public. </p>
                            {% elsif draftstatus == "pre-release" %}
                                <strong>Pre-Release:</strong>
                                <p>This project is complete and ready for publishing or selling, and it is considered to be complete.</p>
                            {% endif %}
                            <div class="progress-clear">
                                <div class="progress-bar-clear" role="progressbar" style="width:12.5%">
                                    {% if draftstatus == "notes" or draftstatus == "" %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="progress-bar-clear" role="progressbar" style="width:12.5%">
                                    {% if draftstatus == "unit" or draftstatus == "" %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="progress-bar-clear" role="progressbar" style="width:12.5%">
                                    {% if draftstatus == "integration" %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="progress-bar-clear" role="progressbar" style="width:12.5%">
                                    {% if draftstatus == "component" %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="progress-bar-clear" role="progressbar" style="width:12.5%">
                                    {% if draftstatus == "system" %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="progress-bar-clear" role="progressbar" style="width:12.5%">
                                    {% if draftstatus == "alpha" %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="progress-bar-clear" role="progressbar" style="width:12.5%">
                                    {% if draftstatus == "beta" %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="progress-bar-clear" role="progressbar" style="width:12.5%">
                                    {% if draftstatus == "pre-release" %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                            </div>                            
                            <div class="progress">
                                <div class="progress-bar notes" role="progressbar" style="width:12.5%">
                                    Notes
                                </div>
                                <div class="progress-bar unit" role="progressbar" style="width:12.5%">
                                    Unit
                                </div>
                                <div class="progress-bar integration" role="progressbar" style="width:12.5%">
                                    Int.
                                </div>
                                <div class="progress-bar component" role="progressbar" style="width:12.5%">
                                    Comp.
                                </div>
                                <div class="progress-bar system" role="progressbar" style="width:12.5%">
                                    System
                                </div>
                                <div class="progress-bar alpha" role="progressbar" style="width:12.5%">
                                    Alpha
                                </div>
                                <div class="progress-bar beta" role="progressbar" style="width:12.5%">
                                    Beta
                                </div>
                                <div class="progress-bar prerelease" role="progressbar" style="width:12.5%">
                                    Pre.
                                </div>
                            </div>
                        </aside>
                        {% endif %}



                    <!-- Post Content -->
                    <span class="e-content">{{ content }}</span>

                    <hr>
                </article>

                <!--Next and Previous Articles -->
                {% if page.previous.url %}
                    {% assign previous_url = page.previous.url %}
                    {% assign previous_title = page.previous.title %}
                {% else %}
                    {% assign previous_url = site.siteurl %}
                    {% assign previous_title = "Home" %}
                {% endif %}
                {% if page.next.url %}
                    {% assign next_url = page.next.url %}
                    {% assign next_title = page.next.title %}
                {% else %}
                    {% assign next_url = site.siteurl %}
                    {% assign next_title = "Home" %}
                {% endif %}
                <div class="row">
                    <div class="col-md-6 text-center">
                        <span class="float-md-left"><a href="{{previous_url}}">&laquo; {{previous_title}}</a></span>
                    </div>
                    <div class="col-md-6 text-center">
                        <span class="float-md-right"><a href="{{next_url}}">{{next_title}} &raquo;</a></span>
                    </div>
                </div>
 
                <hr>

                {% include comments-webmentions.html %}

                {% include comments.html %}

                <script>
                    // put in the image
                    var imgJscii = new Jscii({
                        width: 200,
                        color: true,
                        el: document.getElementById('jscii-element-image'),
                        fn: function(str) {
                            document.getElementById('ascii-container-image').innerHTML = str;
                        }
                    });
                    document.getElementById('jscii-element-image').style.display = 'none';

                </script>

            </td>
            <td id="papermargin_right">
            </td>
        </tr>
    </Table>
</body>