<!DOCTYPE html>
<html lang="en">
<head>

{% assign stripped-content = page.content | strip_html | strip %} 


{% assign page-categories-collection = "" | split: ',' %}
{% assign categories = page.categories %}
{% for category in categories %}
  {% assign category = category | capitalize %}
  {% assign page-categories-collection = page-categories-collection | push: category %}
{% endfor %}


{% if page.mf-repost-of == null or page.mf-repost-of == empty %}
    {% assign mf-repost-of = false %} 
{% else %}
    {% comment %} <!--
    mf-repost-of:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1
    mf-repost-of:
      - 'https://idiallo.com/blog/when-a-machine-fired-me' -->
    {% endcomment %}

    {% assign page-categories-collection = page-categories-collection | push: "Repost" %}
    {% assign mf-repost-of = true %} 
{% endif %}

{% if page.mf-like-of == null or page.mf-like-of == empty %}
    {% assign mf-like-of = false %} 
{% else %}
    {% comment %} <!--
    mf-like-of:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Like" %}
    {% assign mf-like-of = true %} 
{% endif %}

{% if page.mf-item == null or page.mf-item == empty %}
    {% assign mf-item  = false %} 
{% else %}
    {% comment %} <!--
    mf-item:
      - type:
          - h-product
        properties:
          name:
            - Product Name
          url:
            - 'https://www.goodreads.com/book/show/17343.Till_We_Have_Faces' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Item" %}
    {% assign mf-item  = true %} 
{% endif %}

{% if page.mf-rating == null or page.mf-rating == empty %}
    {% assign mf-rating  = false %} 
{% else %}
    {% comment %} <!--
    mf-rating:
      - 5 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Review" %}
    {% assign mf-rating  = true %} 
{% endif %}

{% if page.mf-summary == null or page.mf-summary == empty %}
    {% comment %} <!--
    mf-summary:
      - AMAZING! -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Summary" %}
    {% assign mf-summary  = true %} 
{% else %}
    {% assign mf-summary  = false %} 
{% endif %}

{% if page.mf-itinerary == null or page.mf-itinerary == empty %}
    {% assign mf-itinerary  = false %} 
{% else %}
    {% comment %} <!--
    mf-itinerary:
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Ted Air
          number:
            - '833'
          origin:
            - LAX
          destination:
            - OXF
          departure:
            - '2018-06-22T16:35:00-07:00'
          arrival:
            - '2018-06-22T16:35:00+01:00'
    mf-itinerary:
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Ted Air
          number:
            - '833'
          origin:
            - LAX
          destination:
            - OXF
          departure:
            - '2018-06-23T15:40:00-07:00'
          arrival:
            - '2018-06-23T15:40:00+01:00'
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Lou Air
          number:
            - '338'
          origin:
            - OXF
          destination:
            - HOL
          departure:
            - '2018-06-23T15:40:00+01:00'
          arrival:
            - '2018-06-23T15:40:00' -->
    {% assign page-categories-collection = page-categories-collection | push: "Itinerary" %}
    {% endcomment %}
    {% assign mf-itinerary  = true %} 
{% endif %}

{% if page.mf-in-reply-to == null or 
      page.mf-in-reply-to == empty %}
    {% assign mf-in-reply-to  = false %} 
{% else %}
    {% comment %} <!--
    mf-in-reply-to:
      - 'https://idiallo.com/blog/when-a-machine-fired-me'

    mf-in-reply-to:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Reply" %}
    {% assign mf-in-reply-to  = true %} 
{% endif %}

{% if page.mf-photo == null or 
      page.mf-photo == empty %}
    {% assign mf-photo = false %} 
{% else %}
    {% comment %} <!--
    mf-photo:
      - >-
        https://www.tedt.org/media/2018-06-85087/screen-shot-2018-06-22-at-4.33.30-pm.png
    mf-photo:
      - >-
        https://igx.4sqi.net/img/general/original/4195_P3LEKM8c3SMWtHxe9iy0KW9XLlw16wD0rgk7RD_odAo.jpg
    mf-photo:
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/65b00c0cea188cb92a730222feff0b97/5BE35D60/t51.2885-15/e35/24175395_1272798276200131_8733420610316664832_n.jpg
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/fd3133a626153315ac3735996c28e60f/5BB8C2A0/t51.2885-15/e35/24127175_136580130451436_1425162009573326848_n.jpg
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/81d32fe0f7b8f687ae9fa1eb05af52d2/5BB5551D/t51.2885-15/e35/24174868_1945197792408473_193377161585885184_n.jpg -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Photo" %}
    {% assign mf-photo = true %} 
{% endif %}
{% if page.mf-syndication == null or 
      page.mf-syndication == empty %}
    {% assign mf-syndication = false %} 
{% else %}
    {% comment %} <!--
    mf-syndication:
      - 'https://www.swarmapp.com/user/4195/checkin/5b25a7ca8a6f17002c5d4846'

    mf-syndication:
      - 'https://www.swarmapp.com/user/4195/checkin/5b28072bc0cacb002c61a717' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Syndication" %}
    {% assign mf-syndication-url  = page.page.mf-syndication %}
    {% assign mf-syndication = true %} 
{% endif %}

{% if page.mf-checkin[0].type == null or 
      page.mf-checkin[0].type == empty %}
    {% assign mf-checkin = false %} 
{% else %}
    {% comment %} <!--
    mf-checkin:
      - type:
          - h-card
        properties:
          name:
            - Game Empire Pasadena
          url:
            - 'https://foursquare.com/v/4a94a8e0f964a520472220e3'
          latitude:
            - 34.14634159231104
          longitude:
            - -118.1133562999198
          street-address:
            - 1795 E Colorado Blvd
          locality:
            - Pasadena
          region:
            - CA
          country-name:
            - United States
          postal-code:
            - '91106'
        value: 'https://foursquare.com/v/4a94a8e0f964a520472220e3' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Check in" %}
    {% assign mf-checkin-type                     = page.mf-checkin[0].type %}
    {% assign mf-checkin-url                      = page.mf-checkin[0].value %}
    {% assign mf-checkin-facility-name            = page.mf-checkin[0].properties.name %}
    {% assign mf-checkin-facility-url             = page.mf-checkin[0].properties.url %}
    {% assign mf-checkin-facility-latitude        = page.mf-checkin[0].properties.latitude %}
    {% assign mf-checkin-facility-longitude       = page.mf-checkin[0].properties.longitude %}
    {% assign mf-checkin-facility-street-address  = page.mf-checkin[0].properties.street-address %}
    {% assign mf-checkin-facility-city            = page.mf-checkin[0].properties.locality %}
    {% assign mf-checkin-state                    = page.mf-checkin[0].properties.region %}
    {% assign mf-checkin-country                  = page.mf-checkin[0].properties.country-name %}
    {% assign mf-checkin-zip-code                 = page.mf-checkin[0].properties.postal-code %}
    {% assign mf-checkin                          = true %} 
{% endif %}

<!-- This needs to be fixed -->

{% if page.mf-location[0].type == null or 
      page.mf-location[0].type == empty %}
    {% comment %} <!--
      We do not have a complex Location, but we might have a simple one.  Lets check. -->
    {% endcomment %}
    {% if page.mf-location == null or 
          page.mf-location == empty %}
      {% comment %} <!--
        We do not have a complex Location, and we do not a simple one.  Lets set flags. -->
      {% endcomment %}
      {% assign mf-location                       = false %} 
      {% assign mf-location-full                  = false %}
      {% assign mf-location-short                 = false %}
    {% else %}
      {% comment %} <!--
        We do not have a complex Location, but we do have a simple one.  Lets set variables.
        TODO: Parse Simple Location.
        mf-location:
          - 'geo:34.049571899827,-118.08246843619'

        mf-location:
          - 'geo:34.14661,-117.93846;u=34'

          - 'geo:lat,long;u=undertanity_in_Meters' -->
      {% endcomment %}
      {% assign page-categories-collection = page-categories-collection | push: "Location" %}
      {% assign location-facility-step-one        = page.mf-location[0] | split: ':' %}
      {% assign location-facility-step-two        = location-facility-step-one[1] | split: ';' %}
      {% assign location-facility-step-three      = location-facility-step-two[0] | split: ',' %}
      {% assign location-facility-step-four       = location-facility-step-two[1] | split: '=' %}
      {% assign location-facility-latitude        = location-facility-step-three[0] %}
      {% assign location-facility-longitude       = location-facility-step-three[1] %}
      {% assign location-facility-gis-uncertanity = location-facility-step-four[1] %}
      {% assign mf-location                       = true %} 
      {% assign mf-location-full                  = false %}
      {% assign mf-location-short                 = true %}
    {% endif %}
{% else %} 
    {% comment %} <!--
    We have a complex Location lets parse

    mf-location:
        - type:
          - h-adr
        properties:
          latitude:
            - 34.14634159231104
          longitude:
            - -118.1133562999198
          street-address:
            - 1795 E Colorado Blvd
          locality:
            - Pasadena
          region:
            - CA
          country-name:
            - United States
          postal-code:
            - '91106' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Location" %}

    {% assign mf-location                         = true %} 
    {% assign mf-location-full                    = true %}
    {% assign mf-location-short                   = false %}
    {% assign location-type                       = page.mf-location[0].type %}

    {% assign location-facility-latitude          = page.mf-location[0].properties.latitude %}
    {% assign location-facility-longitude         = page.mf-location[0].properties.longitude %}
    {% assign location-facility-street-address    = page.mf-location[0].properties.street-address %}
    {% assign location-facility-city              = page.mf-location[0].properties.locality %}
    {% assign location-state                      = page.mf-location[0].properties.region %}
    {% assign location-country                    = page.mf-location[0].properties.country-name %}
    {% assign location-zip-code                   = page.mf-location[0].properties.postal-code %}
{% endif %}


{% if mf-checkin-facility-latitude == null or 
      mf-checkin-facility-latitude == empty %}
  {% comment %} <!--
    We do not have a facility checkin.  Lets Check if we have a Location -->
  {% endcomment %}
  {% if location-facility-latitude == null or 
        location-facility-latitude == empty %}
    {% comment %} <!--
      We do not have a facility checkin.  We do not have a Location.  Therefore we have no need for a map -->
    {% endcomment %}
    {% assign draw-map                            = false %}
  {% else %}
    {% comment %} <!--
      We do not have a facility checkin.  We do  have a Location.  Therefore we have a need for a map -->
    {% endcomment %}
    {% assign draw-map                            = true %}
    {% assign draw-map-one                        = true %}
    {% assign map-latitude-one                    = location-facility-latitude %}
    {% assign map-longitude-one                   = location-facility-longitude %}
    {% assign map-uncertanity-one                 = location-facility-gis-uncertanity %}
    {% if mf-checkin-facility-name == null or 
          mf-checkin-facility-name == empty %}
      {% assign map-name-one                      = stripped-content %}
    {% else %}
      {% assign map-name-one                      = mf-checkin-facility-name %}
    {% endif %}
   {% endif %}
{% else %}
  {% comment %} <!--
    We do have a facility checkin.  Lets Check if we have a Location -->
  {% endcomment %}
  {% assign draw-map                              = true %}
  {% assign draw-map-one                          = true %}
  {% assign map-latitude-one                      = mf-checkin-facility-latitude %}
  {% assign map-longitude-one                     = mf-checkin-facility-longitude %}
  {% assign map-name-one                          = mf-checkin-facility-name %}

  {% if location-facility-latitude == null or 
        location-facility-latitude == empty %}
    {% comment %} <!--
      We do have a facility checkin.  We do not have a Location.  Therefore we can keep the map we already have -->
    {% endcomment %}
    {% assign draw-map-two                        = false %}
  {% else %}
    {% comment %} <!--
      We do have a facility checkin.  We do have a Location.  Therefore we have a need for two maps -->
    {% endcomment %}
    {% assign draw-map                            = true %}
    {% assign draw-map-two                        = true %}
    {% assign map-latitude-two                    = location-facility-latitude %}
    {% assign map-longitude-two                   = location-facility-longitude %}
    {% assign map-uncertanity-two                 = location-facility-gis-uncertanity %}
    {% if map-latitude-two == map-latitude-one and
          map-longitude-two == map-longitude-one%}
        {% assign draw-map-two                    = false %}
    {% endif %}
    {% if mf-checkin-facility-name == null or 
          mf-checkin-facility-name == empty %}
      {% assign map-name-two                      = stripped-content %}
    {% else %}
      {% assign map-name-two                      = mf-checkin-facility-name %}
    {% endif %}
  {% endif %}
{%endif%}

<!-- TODO: Add full articles. -->


{% if page.excerpt != "" %}
    {% assign SEO_description = page.excerpt | strip_html %}
{% elsif page.description != "" %}
    {% assign SEO_description = page.description | strip_html %}
{% endif %}



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Allows control over where resources are loaded from. Place as early in the document as possible, only applies to content below this tag. -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'">-->

    <!-- Base URL to use for all relative URLs contained within the document -->
    <!--<base href="https://www.tedt.org/">-->

    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- IndieAuth.com -->
    {% if site.keybaseio_username %}
        <link href="https://keybase.io/{{ site.keybaseio_username }}" rel="me">
    {% endif %}
    {% if site.github_username or
          site.linkedin_username or
          site.twitter_username or
          site.facebook_username or
          site.google_username or
          site.youtube_username or
          site.pinterest_username or
          site.reddit_username or
          site.instagram_username or
          site.quora_username %}

      {% if site.github_username %}
          <link href="https://github.com/{{ site.github_username }}/" rel="me authn">
      {% else %}
      {% endif %}
      {% if site.linkedin_username %}
          <link href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" rel="me">
      {% else %}
      {% endif %}
      {% if site.twitter_username %}
          <link href="https://twitter.com/{{ site.twitter_username }}" rel="me">
      {% else %}
      {% endif %}
      {% if site.facebook_username %}
          <link href="https://www.facebook.com/{{ site.facebook_username }}" rel="me">
      {% else %}
      {% endif %}
      {% if site.google_username %}
          <link href="https://plus.google.com/u/0/+{{ site.google_username }}" rel="me">
      {% else %}
      {% endif %}
      {% if site.youtube_username %}
          <link href="https://www.youtube.com/user/{{ site.youtube_username }}/" rel="me">
      {% else %}
      {% endif %}
      {% if site.pinterest_username %}
          <link href="https://www.pinterest.com/{{ site.pinterest_username }}/" rel="me">
      {% else %}
      {% endif %}
      {% if site.reddit_username %}
          <link href="https://www.reddit.com/user/{{ site.reddit_username }}/" rel="me">
      {% else %}
      {% endif %}
      {% if site.instagram_username %}
          <link href="https://www.instagram.com/{{ site.instagram_username }}/" rel="me">
      {% else %}
      {% endif %}
      {% if site.quora_username %}
          <link href="https://www.quora.com/profile/{{ site.quora_username }}/" rel="me">
      {% else %}
      {% endif %}
    {% endif %}

    <!-- Webmentions -->
    <link rel="pingback" href="https://webmention.io/www.tedt.org/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/www.tedt.org/webmention" />

    <!-- Indieauth.com/ The token endpoint to verify the micropub token against. See: https://indieweb.org/token-endpoint -->
    <link rel="authorization_endpoint" href="https://indielogin.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link href="https://micropub-to-github-for-ted.herokuapp.com/micropub/main" rel="micropub">

    <!-- Favicon Meta Tags.  -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="icon" sizes="16x16"   type="image/png" href="{{site.siteurl}}/img/favicon-16x16.png">
    <link rel="icon" sizes="32x32"   type="image/png" href="{{site.siteurl}}/img/favicon-32x32.png">
    <link rel="icon" sizes="48x48"   type="image/png" href="{{site.siteurl}}/img/android-chrome-48x48.png">
    <link rel="icon" sizes="62x62"   type="image/png" href="{{site.siteurl}}/img/favicon-62x62.png">
    <link rel="icon" sizes="128x128" type="image/png" href="{{site.siteurl}}/img/favicon-128x128.png">
    <link rel="icon" sizes="192x192" type="image/png" href="{{site.siteurl}}/img/android-chrome-192x192.png" >

    <!-- Apple iOS Settings. -->
    <!--Sets whether a web application runs in full-screen mode. -->
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <!-- Color of the status bar -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <!-- Web App Name for the Shortcut -->
    <meta name="apple-mobile-web-app-title"            content="Ted Tschopp">
    <!-- Do Not Detect Phone Numbers -->
    <meta name="format-detection" content="telephone=no"> 
    
    <!-- iPhone icons -->
    <!--
    <link rel="apple-touch-icon"                 href="{{site.siteurl}}/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57"   href="{{site.siteurl}}/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="{{site.siteurl}}/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.siteurl}}/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.siteurl}}/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.siteurl}}/img/apple-touch-icon-152x152.png"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.siteurl}}/img/apple-touch-icon-180x180.png">
    <!--<link rel="apple-touch-icon-precomposed"     href="{{site.siteurl}}/img/apple-touch-icon-precomposed.png">-->
    <!-- TODO: Add in Splash Screens with apple-touch-startup-image -->



    <!-- Apple Safari Pinned Site. -->
    <link rel="mask-icon" href="{{site.siteurl}}/img/Tschopp.svg" color="black">

    <!-- App Banner and link to app store. -->
    <!--
    <meta name="apple-itunes-app" content="app-id=APP_ID, affiliate-data=AFFILIATE_ID, app-argument=http/url-sample.com">
    -->
    <!-- Apple iOS app deep linking. -->
    <!--
    <link rel="alternate" href="ios-app://APP-ID/http/url-sample.com">
    <meta property="al:ios:url" content="applinks://docs">
    <meta property="al:ios:app_store_id" content="12345">
    <meta property="al:ios:app_name" content="App Links">
    -->

    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <!--
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    -->

    <!-- Google Android. -->
    <!--
    <meta name="theme-color" content="#E64545">
    <meta name="google-play-app" content="app-id=package-name">
    -->
    <!-- Android app deep linking. -->
    <!--
    <link rel="alternate" href="android-app://package-name/http/url-sample.com">
    <meta property="al:android:url" content="applinks://docs">
    <meta property="al:android:app_name" content="App Links">
    <meta property="al:android:package" content="org.applinks">
    -->

    <!-- Google Chrome. -->
    <link rel="icon" type="image/png" sizes="36x36" href="{{site.siteurl}}/img/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="{{site.siteurl}}/img/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="{{site.siteurl}}/img/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.siteurl}}/img/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="{{site.siteurl}}/img/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{site.siteurl}}/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="384x384" href="{{site.siteurl}}/img/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="256x256" href="{{site.siteurl}}/img/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="512x512" href="{{site.siteurl}}/img/android-chrome-512x512.png">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/APP_ID">
    <meta name="google" value="notranslate">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/img/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">
    <!-- Windows Internet Explorer. -->
    <meta http-equiv="cleartype"                   content="on">
    <meta name="skype_toolbar"                     content="skype_toolbar_parser_compatible">
    <meta name="msapplication-tap-highlight"       content="no">
    <meta name="application-name"                  content="Ted Tschopp">
    <meta name="msapplication-tooltip"             content="Ted Tschopp's homepage">
    <meta name="msapplication-starturl"            content="{{site.siteurl}}/">
    <meta name="msapplication-square150x150logo"   content="{{site.siteurl}}/img/mstile-150x150.png">
    <meta name="msapplication-square310x310logo"   content="{{site.siteurl}}/img/mstile-310x310.png">
    <meta name="msapplication-square70x70logo"     content="{{site.siteurl}}/img/mstile-70x70.png">
    <meta name="msapplication-wide310x150logo"     content="{{site.siteurl}}/img/mstile-310x150.png">
    <meta name="msapplication-navbutton-color"     content="#FF3300">
    <meta name="msapplication-TileColor"           content="#FF3300">
    <meta name="msapplication-TileImage"           content="{{site.siteurl}}/img/mstile-144x144.png">
    <meta name="msapplication-task-separator"      content="1">
    <meta name="msapplication-task"                content="name=Contact Ted;
                              action-uri={{site.siteurl}}/#contact;
                              icon-uri={{site.siteurl}}/img/favicon.ico">
    <meta name="msapplication-task"                content="name=Ted's Projects;
                              action-uri={{site.siteurl}}/#projects;
                              icon-uri={{site.siteurl}}/img/favicon.ico">
    <meta name="msapplication-allowDomainApiCalls" content="false">
    <meta name="msapplication-allowDomainMetaTags" content="false">
    <meta name="msapplication-window"              content="width=1024;height=768">
    <!--
    <meta name="msapplication-badge"               content="frequency=30; polling-uri=http://example.com/id45453245/polling.xml">
    <meta name="msapplication-notification"        content="frequency=60;polling-uri=http://example.com/livetile">
    -->

    <title>{{ page.title }}</title>
    <meta name="author" content="Ted Tschopp">
    <link rel="author" href="{{site.siteurl}}/humans.txt">
    <link rel="copyright" href="{{site.siteurl}}/copyright.html">

    <!-- Geo Positioning Meta Tags. -->
    <!--
    <meta name="geo.position"  content="50.97590;0.01722">
    <meta name="geo.region"    content="GB">
    <meta name="geo.placename" content="London, United Kingdom">
    <meta name="ICBM"          content="50.9759, 0.0172">
    <meta name="DC.title"      content="Location Name">
    -->
    <!-- Search Eengine and Browser Meta Tags. -->
    <!-- The description of the website. Keep under 500 characters -->
    <meta name="description" content="{{ SEO_description }}"> 
    <!-- The short description of the website.  Keep uder 100 characters -->
    <meta name="abstract"    content="{{ site.name }}"> 
   
    <!-- Search engine robots Meta Tags. -->
    <!-- Disable from all search engines.-->
    <!--<meta name="robots" content="noindex, nofollow, noodp, noydir, noarchive">-->
   
    <!-- Open Graph Meta Tags (ogp.me) -->
    {% if page.image %}
        <meta property="og:image"            content="{{ site.siteurl }}{{ page.image }}">  <!-- Web page thumbnail -->
        <meta property="og:image:alt"        content="{{ page.title }}">  <!-- Web page thumbnail -->
    {% else %}
        <meta property="og:image"            content="https://www.tedt.org/img/webpage_thumbnail.png">  <!-- Web page thumbnail -->
        <meta property="og:image:alt"        content="{{ site.name }}">  <!-- Web page thumbnail -->
    {% endif %}

    <!-- Facebook web site appID  -->
    <meta property="fb:app_id"           content="1939132006351436" />
    <!-- Web site title -->
    <meta property="og:site_name"        content="{{ site.name }}">
    <!-- Web page title -->
    <meta property="og:title"            content="{{ page.title }} - {{ site.name }}">
    <!-- Web page description -->
    <meta property="og:description"      content="{{ page.excerpt | strip_html }}">  
    <!-- Content type ["product", "blog", "website", "book", "movie", ... ] -->
    <meta property="og:type"             content="article">  
    <!-- Url to this web page -->
    <meta property="og:url"              content="{{ site.siteurl }}{{ page.url }}"> 
    <!-- Main Language -->
    <meta property="og:locale"           content="en_US">    
    <!-- Alternate Language -->
    <!--
    <meta property="og:locale:alternate" content="fr_FR">    
    <meta property="og:locale:alternate" content="es_ES">    
    -->

    <!-- Geographical coordenates -->
    <!--
    <meta property="og:latitude"         content="50.97590"> 
    <meta property="og:longitude"        content="0.017221">
    -->
    <!-- Postal Address -->
    <!-- <meta property="og:street-address"   content="Flat 1, 26 Street Name"> -->
    <!-- Locality -->
    <!-- <meta property="og:locality"         content="London"> -->
    <!-- Region -->
    <!-- <meta property="og:region"           content="London"> -->
    <!-- Post code -->
    <!-- <meta property="og:postal-code"      content="N1 PLE"> -->
    <!-- Country -->
    <!-- <meta property="og:country-name"     content="UK"> -->

    <!-- Contact email -->
    <meta property="og:email"            content="{{ site.email }}"> 
    <!-- Contact phone number -->
    <meta property="og:phone_number"     content="{{ site.phonenumber }}">

    <!-- Video file url-->
    <!-- <meta property="og:video"            content="http://example.com/video.flv"> -->
    <!-- Video height -->
    <!-- <meta property="og:video:height"     content="640"> -->
    <!-- Video width -->
    <!-- <meta property="og:video:width"      content="385"> -->  
    <!-- Video file format mime type -->
    <!-- <meta property="og:video:type"       content="application/x-shockwave-flash"> -->

    <!-- Audio file url -->
    <!-- <meta property="og:audio"            content="http://example.com/audio.mp3"> -->
    <!-- Audio title -->
    <!-- <meta property="og:audio:title"      content="Song Title"> -->
    <!-- Audio artist -->
    <!-- <meta property="og:audio:artist"     content="Name of Band"> -->                
    <!-- Audio album title-->
    <!-- <meta property="og:audio:album"      content="Album Title"> -->              
    <!-- Audio file format mime type -->
    <!-- <meta property="og:audio:type"       content="application/mp3"> -->               

    <!-- UPC EAN barcodes-->
    <!-- <meta property="og:upc"              content="885909367481"> -->
    <!-- Book ISBN number-->
    <!-- <meta property="og:isbn"             content="1873520786"> -->

    <!-- Facebook Meta Tags. -->
    <!-- <meta property="fb:app_id"           content="123456789"> -->


    <!-- Twitter Meta Tags. -->
    <meta name="twitter:card"            content="summary">
    <meta name="twitter:site"            content="@site_account">
    <meta name="twitter:creator"         content="@{{ site.twitter_username }}">
    <meta name="twitter:url"             content="{{ site.siteurl }}{{ page.url }}">
    <meta name="twitter:title"           content="{{ page.title }} - {{ site.title }}">
    <meta name="twitter:description"     content="{{ SEO_description }}">

    {% if page.image %}
        <meta property="twitter:image"   content="{{ site.siteurl }}{{ page.image }}">  <!-- Web page thumbnail -->
    {% else %}
        <meta property="twitter:imagee"  content="https://www.tedt.org/img/webpage_thumbnail.png">  <!-- Web page thumbnail -->
    {% endif %}
    <meta name="twitter:image:alt"       content="{{ page.title }} - Ted Tschopp">

    <!-- Pinterest. -->
    <!-- Prevents sharing of content by Pinterest users. -->
    <!--<meta name="pinterest" content="nopin" description="Sorry, you can't save from my website!">-->
      
    <!-- News Feed Meta Tags. -->
    <!--
    <link rel="alternate" type="application/rss+xml"  title="Example (Feedburner)" href="//feeds.feedburner.com/example">
    <link rel="alternate" type="application/atom+xml" title="Example (Atom 0.3)"   href="//example.com/atom.xml">
    <link rel="alternate" type="application/rss+xml"  title="Example (RSS 2.0)"    href="//example.com/rss.xml">
    <link rel="alternate" type="application/json"     title="Example (JSON)"       href="//example.org/feed.json" />
    -->

    {% seo %}

    <!-- Bootstrap Core CSS -->
    {% include css-bootstrap.html %}

    <!-- Custom CSS -->
    <link href="{{site.siteurl}}/css/blog-post.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/solarized-dark.css" rel="stylesheet">
    
    {% assign categories = page-categories-collection %}
    {% for category in categories %}
        {% capture thiscategory %}{{ category | strip }}{% endcapture %}
        {% if thiscategory == "draft" or thiscategory == "Draft" %}
            {% assign this_is_a_draft = true %}
        {% endif %}
    {% endfor %}
    {% if this_is_a_draft == true %}
        <link rel="preload" href="{{site.siteurl}}/css/handwriting-draft_free-version.woff2" as="font" type="font/woff2" crossorigin>
        <link href="{{site.siteurl}}/css/draft-blog-post.css" rel="stylesheet">
    {% endif %}



    <!-- Custom Fonts -->
    {% include css-font-awesome.html %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if mf-location == true %}
    <!-- Leaflet Open Street Maps -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
       integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
       crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
       integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
       crossorigin=""></script>
    <style>
        #mapid { height: 400px; }
    </style>
    {% endif %}

</head>

<body>
    {% include navigation.html %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
              <!-- Blog Post -->

                <article class="h-entry">
                  <!-- Title -->
                    <!-- Author TODO: Fix this to be dynamic for more than one author. -->
                  <h1 class="p-name lead"><a href="{{page.mf-syndication}}"> Checked into {{page.mf-checkin[0].properties.name}}<a/></h1>
                  {% if page.author.name %}
                      <p class="lead">by <a rel="author" class="p-author h-card" href="{{ page.author.url }}"><img src="{{page.author.avatar}}" class="u-photo">{{page.author.name}}</a></p>
                  {% else %}
                      <p class="lead">by <a rel="author" class="p-author h-card" href="{{ site.author.url }}"><img src="{{site.author.avatar}}" class="u-photo">{{site.author.name}}</a></p>
                  {% endif %}

                  <hr>

                  {% include publish-and-update-date-time-v2.html %}


                  <i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;Catagories:
                  {% assign categories = page-categories-collection %}
                  {% for category in categories %}<span class="p-category">
                      {% capture thiscategory %}{{ category | strip | capitalize }}{% endcapture %}
                      {% if forloop.length == 1 %}
                          {{thiscategory}}
                      {% elsif forloop.last and forloop.length == 2 %}
                          and {{thiscategory}}
                      {% elsif forloop.last %}
                          and {{thiscategory}}
                      {% else %}
                          {{thiscategory}}, 
                      {% endif %}
                      {% if thiscategory == "draft" or thiscategory == "Draft" %}
                          {% assign this_is_a_draft = true %}
                      {% endif %}</span>
                  {% endfor %}</br>

                  <span class="hidden aria-hidden u-url">{{ site.siteurl }}{{ page.url }}</span>

                    <!--
                        TODO: Implement Smart Cropping on the images to make sure they are a minimum height, 
                        and still stay responsive: https://29a.ch/2014/04/03/smartcrop-content-aware-image-cropping

                        -->

                  {% if mf-photo %}
                    {% for photo in page.mf-photo %}
                      <figure>
                          <img class="img-responsive img-thumbnail" src="{{photo}}">
                      </figure>
                    {% endfor %}
                  {% endif %}

                  {% if draw-map == true %}
                  {% comment %} <!--
                                                   mf-location - {{ mf-location }} 
                                              mf-location-full - {{ mf-location-full }}
                                             mf-location-short - {{ mf-location-short }}
                                                  map-name-one - {{ map-name-one }}
                                                  map-name-two - {{ map-name-two }}
                                                      draw-map - {{ draw-map }}
                                                  draw-map-one - {{ draw-map-one }}
                                                  draw-map-two - {{ draw-map-two }}
                                      mf-checkin-facility-name - {{ mf-checkin-facility-name }}
                            page.mf-checkin[0].properties.name - {{ page.mf-checkin[0].properties.name }}
                                               mf-checkin-type - {{ mf-checkin-type }}
                                                mf-checkin-url - {{ mf-checkin-url }}
                                      mf-checkin-facility-name - {{ mf-checkin-facility-name }}
                                       mf-checkin-facility-url - {{ mf-checkin-facility-url }}
                                  mf-checkin-facility-latitude - {{ mf-checkin-facility-latitude }}
                                 mf-checkin-facility-longitude - {{ mf-checkin-facility-longitude }}
                            mf-checkin-facility-street-address - {{ mf-checkin-facility-street-address }}
                                      mf-checkin-facility-city - {{ mf-checkin-facility-city }}
                                              mf-checkin-state - {{ mf-checkin-state }}
                                            mf-checkin-country - {{ mf-checkin-country }}
                                           mf-checkin-zip-code - {{ mf-checkin-zip-code }}
                                                    mf-checkin - {{ mf-checkin }} 
                                       page.mf-checkin[0].type - {{ page.mf-checkin[0].type}}
                                      page.mf-checkin[0].value - {{ page.mf-checkin[0].value }}
                            page.mf-checkin[0].properties.name - {{ page.mf-checkin[0].properties.name }}
                             page.mf-checkin[0].properties.url - {{ page.mf-checkin[0].properties.url }}
                        page.mf-checkin[0].properties.latitude - {{ page.mf-checkin[0].properties.latitude }}
                       page.mf-checkin[0].properties.longitude - {{ page.mf-checkin[0].properties.longitude }}
                  page.mf-checkin[0].properties.street-address - {{ page.mf-checkin[0].properties.street-address }}
                        page.mf-checkin[0].properties.locality - {{ page.mf-checkin[0].properties.locality }}
                          page.mf-checkin[0].properties.region - {{ page.mf-checkin[0].properties.region }}
                    page.mf-checkin[0].properties.country-name - {{ page.mf-checkin[0].properties.country-name }}
                     page.mf-checkin[0].properties.postal-code - {{ page.mf-checkin[0].properties.postal-code }} -->
                  {% endcomment %}





                    <div id="mapid"></div>
                    <script>
                        var mymap = L.map('mapid')
                                     .setView([ {{ map-latitude-one }} , 
                                                {{ map-longitude-one }}    ], 15);

                        L.tileLayer(
                          'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: 
                          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'})
                         .addTo(mymap);

                        L.marker([ {{ map-latitude-one }} , {{ map-longitude-one }} ])
                         .addTo(mymap)
                         .bindPopup("<b>{{ map-name-one }}</b>")
                         .openPopup();

                        {% if draw-map-two == true %}
                        L.marker([ {{ map-latitude-two }} , {{ map-longitude-two }} ])
                         .addTo(mymap)
                         .bindPopup("<b>{{ map-name-two }}</b>")
                         .openPopup();
                        {% endif %}

                        var popup = L.popup();
                    </script>
                  {% endif %}

                  <hr>
                  {% if stripped-content == null or stripped-content == empty %}                  
                  {% else %}
                  <!-- Post Content -->
                  <span class="e-content">{{ content }}</span>
                  <hr>
                  {% endif %}
                </article>
                <!--Next and Previous Articles -->
                <!-- TODO: Add Social -->
                {% if page.previous.url %}
                    {% assign previous_url = page.previous.url %}
                    {% assign previous_title = page.previous.title %}
                {% else %}
                    {% assign previous_url = site.siteurl %}
                    {% assign previous_title = "Home" %}
                {% endif %}
                {% if page.next.url %}
                    {% assign next_url = page.next.url %}
                    {% assign next_title = page.next.title %}
                {% else %}
                    {% assign next_url = site.siteurl %}
                    {% assign next_title = "Home" %}
                {% endif %}
                <div class="row">
                    <div class="col-md-6 text-center">
                        <span class="float-md-left"><a href="{{previous_url}}">&laquo; {{previous_title}}</a></span>
                    </div>
                    <div class="col-md-6 text-center">
                        <span class="float-md-right"><a href="{{next_url}}">{{next_title}} &raquo;</a></span>
                    </div>
                </div>
 
                <hr>

                <div class="well">
                    <form class="webmention-form ui form" action="https://webmention.io/www.tedt.org/webmention" method="post">
                        <div class="fields">
                            <div class="twelve wide field">
                                <label>Have you written a <a href="https://indieweb.org/responses">response</a> to this? Let me know the URL:</label><br>
                                <input type="url" name="source" class="url">
                                <label>&nbsp;</label>
                                <input type="submit" class="ui submit button" value="Send Webmention">
                            </div>
                        </div>
                        <div class="status hidden">
                            <div class="ui message"></div>
                        </div>
                        <input type="hidden" name="target" value="{{page.url}}">
                    </form>
                    <div class="webmentions">
                        <p class="webmentions__not-found">No webmentions were found.</p>
                    </div>
                </div>
                <hr>
            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    {% comment %} <!-- {% include google-search.html %} --> {% endcomment %}
                </div>
                <!-- Blog Categories Well -->
                <!-- TODO: Add Social -->
                <div class="well">
                    <div class="post-categories">
                        {% assign categories = page-categories-collection %}
                        {% for category in categories %}
                            <h4>Latest in <a href="{{site.siteurl}}/categories/#{{category|slugize}}">{{category | capitalize}}</a></h4>
                              <div class="row">
                              <div class="col-lg-12">
                                  <ul lass="list-unstyled">
                                    {% for post in site.categories.[category] limit:5 %}
                                        {% if post.title == null or post.title == empty %}
                                          <!-- TODO get the type of social it is and get what we are going to use as a title -->
                                        {% else %}
                                          <li><a href="{{site.siteurl}}{{ post.url }}">{{ post.title }}</a></li>
                                        {% end if %}
                                    {% endfor %}
                                  </ul>
                              </div>
                            </div>
                        {% endfor %}
                    </div>                
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>

    <!-- Footer -->
    {% include footer.html %}

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    {% include js-jquery.html %}

    <!-- Bootstrap Core JavaScript -->
    {% include js-bootstrap.html %}

    <!-- Google Analytics JavaScript -->
    {% comment %} <!--
    {% include js-google-analytics.html %}
    {% endcomment %}

    {% comment %} <!--
    <!-- Web Mentions -->
    <script src="{{site.siteurl}}/js/liquid.js" type="text/javascript" async=""></script>
    <script src="{{site.siteurl}}/js/webmention-counters.js" type="text/javascript" async=""></script>
    <script src="{{site.siteurl}}/js/webmention-loader.js" type="text/javascript" async=""></script>
    <script src="{{site.siteurl}}/js/webmention-utils.js" type="text/javascript" async=""></script>
    <script src="{{site.siteurl}}/js/webmention-add-types.js" type="text/javascript" async=""></script>
    <script src="{{site.siteurl}}/js/JekyllWebmentionIO.js" type="text/javascript" async=""></script>

    {% include webmention-io-all-templates.html %}

    <script id="webmention-hosted">
        (function () {
        var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
        url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
        url = url && url[0] ? url[0].href : false;
        sn.type = "text/javascript"; sn.async = true;
        sn.src = "https://webmention.io/api/mentions?jsonp=window.JekyllWebmentionIO.processWebmentions&target[]=" + encodeURIComponent(url || window.location);
        s.parentNode.insertBefore(sn, s);
        }());
    </script>
    -->
    {% endcomment %}

</body>

</html>