<!DOCTYPE html>
<html lang="en">
<head>


{% assign full-page-url = site.siteurl | append: page.url %}

{% assign stripped-content = page.content | strip_html | strip %} 

<!-- Category work -->

{% assign categories = page-categories-collection %}
{% for category in categories %}
    {% capture thiscategory %}{{ category | strip }}{% endcapture %}
    {% if thiscategory == "draft" or thiscategory == "Draft" %}
        {% assign this_is_a_draft = true %}
    {% endif %}
{% endfor %}

{% assign page-categories-collection = "" | split: ',' %}
{% assign categories = page.categories %}
{% for category in categories %}
  {% assign page-categories-collection = page-categories-collection | push: category %}
{% endfor %}

{% if page.mf-bookmark-of == null or page.mf-bookmark-of == empty %}
    {% assign mf-bookmark-of = false %} 
{% else %}
    {% comment %} <!--
    mf-bookmark-of:
      - >-
        https://www.theguardian.com/technology/2018/jul/02/facebook-mark-zuckerberg-platform-publisher-lawsuit -->
    {% endcomment %}

    {% assign page-categories-collection = page-categories-collection | push: "Bookmark" %}
    {% assign mf-bookmark-of = true %} 
{% endif %}


{% if page.mf-repost-of == null or page.mf-repost-of == empty %}
    {% assign mf-repost-of = false %} 
{% else %}
    {% comment %} <!--
    mf-repost-of:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1
    mf-repost-of:
      - 'https://idiallo.com/blog/when-a-machine-fired-me' -->
    {% endcomment %}

    {% assign page-categories-collection = page-categories-collection | push: "Repost" %}
    {% assign mf-repost-of = true %} 
{% endif %}

{% if page.mf-like-of == null or page.mf-like-of == empty %}
    {% assign mf-like-of = false %} 
{% else %}
    {% comment %} <!--
    mf-like-of:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Like" %}
    {% assign mf-like-of = true %} 
{% endif %}

{% if page.mf-item == null or page.mf-item == empty %}
    {% assign mf-item  = false %} 
{% else %}
    {% comment %} <!--
    mf-item:
      - type:
          - h-product
        properties:
          name:
            - Product Name
          url:
            - 'https://www.goodreads.com/book/show/17343.Till_We_Have_Faces' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Item" %}
    {% assign mf-item  = true %} 
{% endif %}

{% if page.mf-rating == null or page.mf-rating == empty %}
    {% assign mf-rating  = false %} 
{% else %}
    {% comment %} <!--
    mf-rating:
      - 5 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Review" %}
    {% assign mf-rating  = true %} 
{% endif %}

{% if page.mf-summary == null or page.mf-summary == empty %}
    {% comment %} <!--
    mf-summary:
      - AMAZING! -->
    {% endcomment %}
    {% assign mf-summary  = true %} 
{% else %}
    {% assign mf-summary  = false %} 
{% endif %}

{% if page.mf-itinerary == null or page.mf-itinerary == empty %}
    {% assign mf-itinerary  = false %} 
{% else %}
    {% comment %} <!--
    mf-itinerary:
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Ted Air
          number:
            - '833'
          origin:
            - LAX
          destination:
            - OXF
          departure:
            - '2018-06-22T16:35:00-07:00'
          arrival:
            - '2018-06-22T16:35:00+01:00'
    mf-itinerary:
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Ted Air
          number:
            - '833'
          origin:
            - LAX
          destination:
            - OXF
          departure:
            - '2018-06-23T15:40:00-07:00'
          arrival:
            - '2018-06-23T15:40:00+01:00'
      - type:
          - h-leg
        properties:
          transit-type:
            - air
          operator:
            - Lou Air
          number:
            - '338'
          origin:
            - OXF
          destination:
            - HOL
          departure:
            - '2018-06-23T15:40:00+01:00'
          arrival:
            - '2018-06-23T15:40:00' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Itinerary" %}
    {% assign mf-itinerary  = true %} 
{% endif %}

{% if page.mf-in-reply-to == null or 
      page.mf-in-reply-to == empty %}
    {% assign mf-in-reply-to  = false %} 
{% else %}
    {% comment %} <!--
    mf-in-reply-to:
      - 'https://idiallo.com/blog/when-a-machine-fired-me'

    mf-in-reply-to:
      - >-
        https://www.buzzfeed.com/carolineodonovan/ziosk-presto-tabletop-tablet-restaurant-rating-servers?utm_term=.flYY91r5Za#.jkloJz4Ol1 -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Reply" %}
    {% assign mf-in-reply-to  = true %} 
{% endif %}

{% if page.mf-photo == null or 
      page.mf-photo == empty %}
    {% assign mf-photo = false %} 
{% else %}
    {% comment %} <!--
    mf-photo:
      - >-
        https://www.tedt.org/media/2018-06-85087/screen-shot-2018-06-22-at-4.33.30-pm.png
    mf-photo:
      - >-
        https://igx.4sqi.net/img/general/original/4195_P3LEKM8c3SMWtHxe9iy0KW9XLlw16wD0rgk7RD_odAo.jpg
    mf-photo:
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/65b00c0cea188cb92a730222feff0b97/5BE35D60/t51.2885-15/e35/24175395_1272798276200131_8733420610316664832_n.jpg
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/fd3133a626153315ac3735996c28e60f/5BB8C2A0/t51.2885-15/e35/24127175_136580130451436_1425162009573326848_n.jpg
      - >-
        https://scontent-sjc3-1.cdninstagram.com/vp/81d32fe0f7b8f687ae9fa1eb05af52d2/5BB5551D/t51.2885-15/e35/24174868_1945197792408473_193377161585885184_n.jpg -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Photo" %}
    {% assign mf-photo = true %} 
{% endif %}
{% if page.mf-syndication == null or 
      page.mf-syndication == empty %}
    {% assign mf-syndication = false %} 
{% else %}
    {% comment %} <!--
    mf-syndication:
      - 'https://www.swarmapp.com/user/4195/checkin/5b25a7ca8a6f17002c5d4846'

    mf-syndication:
      - 'https://www.swarmapp.com/user/4195/checkin/5b28072bc0cacb002c61a717' -->
    {% endcomment %}
    {% assign mf-syndication-url  = page.page.mf-syndication %}
    {% assign mf-syndication = true %} 
{% endif %}

{% if page.mf-checkin[0].type == null or 
      page.mf-checkin[0].type == empty %}
    {% assign mf-checkin = false %} 
{% else %}
    {% comment %} <!--
    mf-checkin:
      - type:
          - h-card
        properties:
          name:
            - Game Empire Pasadena
          url:
            - 'https://foursquare.com/v/4a94a8e0f964a520472220e3'
          latitude:
            - 34.14634159231104
          longitude:
            - -118.1133562999198
          street-address:
            - 1795 E Colorado Blvd
          locality:
            - Pasadena
          region:
            - CA
          country-name:
            - United States
          postal-code:
            - '91106'
        value: 'https://foursquare.com/v/4a94a8e0f964a520472220e3' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Check in" %}
    {% assign mf-checkin-type                     = page.mf-checkin[0].type %}
    {% assign mf-checkin-url                      = page.mf-checkin[0].value %}
    {% assign mf-checkin-facility-name            = page.mf-checkin[0].properties.name %}
    {% assign mf-checkin-facility-url             = page.mf-checkin[0].properties.url %}
    {% assign mf-checkin-facility-latitude        = page.mf-checkin[0].properties.latitude %}
    {% assign mf-checkin-facility-longitude       = page.mf-checkin[0].properties.longitude %}
    {% assign mf-checkin-facility-street-address  = page.mf-checkin[0].properties.street-address %}
    {% assign mf-checkin-facility-city            = page.mf-checkin[0].properties.locality %}
    {% assign mf-checkin-state                    = page.mf-checkin[0].properties.region %}
    {% assign mf-checkin-country                  = page.mf-checkin[0].properties.country-name %}
    {% assign mf-checkin-zip-code                 = page.mf-checkin[0].properties.postal-code %}
    {% assign mf-checkin                          = true %} 
{% endif %}

<!-- This needs to be fixed -->

{% if page.mf-location[0].type == null or 
      page.mf-location[0].type == empty %}
    {% comment %} <!--
      We do not have a complex Location, but we might have a simple one.  Lets check. -->
    {% endcomment %}
    {% if page.mf-location == null or 
          page.mf-location == empty %}
      {% comment %} <!--
        We do not have a complex Location, and we do not a simple one.  Lets set flags. -->
      {% endcomment %}
      {% assign mf-location                       = false %} 
      {% assign mf-location-full                  = false %}
      {% assign mf-location-short                 = false %}
    {% else %}
      {% comment %} <!--
        We do not have a complex Location, but we do have a simple one.  Lets set variables.
        TODO: Parse Simple Location.
        mf-location:
          - 'geo:34.049571899827,-118.08246843619'

        mf-location:
          - 'geo:34.14661,-117.93846;u=34'

          - 'geo:lat,long;u=undertanity_in_Meters' -->
      {% endcomment %}
      {% assign page-categories-collection = page-categories-collection | push: "Location" %}
      {% assign location-facility-step-one        = page.mf-location[0] | split: ':' %}
      {% assign location-facility-step-two        = location-facility-step-one[1] | split: ';' %}
      {% assign location-facility-step-three      = location-facility-step-two[0] | split: ',' %}
      {% assign location-facility-step-four       = location-facility-step-two[1] | split: '=' %}
      {% assign location-facility-latitude        = location-facility-step-three[0] %}
      {% assign location-facility-longitude       = location-facility-step-three[1] %}
      {% assign location-facility-gis-uncertanity = location-facility-step-four[1] %}
      {% assign mf-location                       = true %} 
      {% assign mf-location-full                  = false %}
      {% assign mf-location-short                 = true %}
    {% endif %}
{% else %} 
    {% comment %} <!--
    We have a complex Location lets parse

    mf-location:
        - type:
          - h-adr
        properties:
          latitude:
            - 34.14634159231104
          longitude:
            - -118.1133562999198
          street-address:
            - 1795 E Colorado Blvd
          locality:
            - Pasadena
          region:
            - CA
          country-name:
            - United States
          postal-code:
            - '91106' -->
    {% endcomment %}
    {% assign page-categories-collection = page-categories-collection | push: "Location" %}

    {% assign mf-location                         = true %} 
    {% assign mf-location-full                    = true %}
    {% assign mf-location-short                   = false %}
    {% assign location-type                       = page.mf-location[0].type %}

    {% assign location-facility-latitude          = page.mf-location[0].properties.latitude %}
    {% assign location-facility-longitude         = page.mf-location[0].properties.longitude %}
    {% assign location-facility-street-address    = page.mf-location[0].properties.street-address %}
    {% assign location-facility-city              = page.mf-location[0].properties.locality %}
    {% assign location-state                      = page.mf-location[0].properties.region %}
    {% assign location-country                    = page.mf-location[0].properties.country-name %}
    {% assign location-zip-code                   = page.mf-location[0].properties.postal-code %}
{% endif %}


{% if mf-checkin-facility-latitude == null or 
      mf-checkin-facility-latitude == empty %}
  {% comment %} <!--
    We do not have a facility checkin.  Lets Check if we have a Location -->
  {% endcomment %}
  {% if location-facility-latitude == null or 
        location-facility-latitude == empty %}
    {% comment %} <!--
      We do not have a facility checkin.  We do not have a Location.  Therefore we have no need for a map -->
    {% endcomment %}
    {% assign draw-map                            = false %}
  {% else %}
    {% comment %} <!--
      We do not have a facility checkin.  We do  have a Location.  Therefore we have a need for a map -->
    {% endcomment %}
    {% assign draw-map                            = true %}
    {% assign draw-map-one                        = true %}
    {% assign map-latitude-one                    = location-facility-latitude %}
    {% assign map-longitude-one                   = location-facility-longitude %}
    {% assign map-uncertanity-one                 = location-facility-gis-uncertanity %}
    {% if mf-checkin-facility-name == null or 
          mf-checkin-facility-name == empty %}
      {% assign map-name-one                      = stripped-content %}
    {% else %}
      {% assign map-name-one                      = mf-checkin-facility-name %}
    {% endif %}
   {% endif %}
{% else %}
  {% comment %} <!--
    We do have a facility checkin.  Lets Check if we have a Location -->
  {% endcomment %}
  {% assign draw-map                              = true %}
  {% assign draw-map-one                          = true %}
  {% assign map-latitude-one                      = mf-checkin-facility-latitude %}
  {% assign map-longitude-one                     = mf-checkin-facility-longitude %}
  {% assign map-name-one                          = mf-checkin-facility-name %}

  {% if location-facility-latitude == null or 
        location-facility-latitude == empty %}
    {% comment %} <!--
      We do have a facility checkin.  We do not have a Location.  Therefore we can keep the map we already have -->
    {% endcomment %}
    {% assign draw-map-two                        = false %}
  {% else %}
    {% comment %} <!--
      We do have a facility checkin.  We do have a Location.  Therefore we have a need for two maps -->
    {% endcomment %}
    {% assign draw-map                            = true %}
    {% assign draw-map-two                        = true %}
    {% assign map-latitude-two                    = location-facility-latitude %}
    {% assign map-longitude-two                   = location-facility-longitude %}
    {% assign map-uncertanity-two                 = location-facility-gis-uncertanity %}
    {% if map-latitude-two == map-latitude-one and
          map-longitude-two == map-longitude-one%}
        {% assign draw-map-two                    = false %}
    {% endif %}
    {% if mf-checkin-facility-name == null or 
          mf-checkin-facility-name == empty %}
      {% assign map-name-two                      = stripped-content %}
    {% else %}
      {% assign map-name-two                      = mf-checkin-facility-name %}
    {% endif %}
  {% endif %}
{%endif%}

<!-- TODO: Add full articles. -->


{% if page.excerpt != "" %}
    {% assign SEO_description = page.excerpt | strip_html %}
{% elsif page.description != "" %}
    {% assign SEO_description = page.description | strip_html %}
{% endif %}



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Allows control over where resources are loaded from. Place as early in the document as possible, only applies to content below this tag. -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'">-->

    <!-- Base URL to use for all relative URLs contained within the document -->
    <!--<base href="https://www.tedt.org/">-->

    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    {% include indieauth-and-webmentions-metadata.html %}

    <!-- SEO Metadata -->
    {% include meta-data-seo.html %}
    
    <!-- News Feed Meta Tags. -->
    <!-- Start Feed_Meta -->

    {% feed_meta %}

    <!-- End Feed_Meta -->
    
    <!--
    <link rel="alternate" type="application/rss+xml"  title="Example (Feedburner)" href="//feeds.feedburner.com/example">
    <link rel="alternate" type="application/atom+xml" title="Example (Atom 0.3)"   href="//example.com/atom.xml">
    <link rel="alternate" type="application/rss+xml"  title="Example (RSS 2.0)"    href="//example.com/rss.xml">
    <link rel="alternate" type="application/json"     title="Example (JSON)"       href="//example.org/feed.json" />
    -->

    <!-- Bootstrap Core CSS -->
    {% include css-bootstrap.html %}

    <!-- Custom CSS -->
    <link href="{{site.siteurl}}/css/blog-post.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/web-mention.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/webmention.css" rel="stylesheet">
    <link href="{{site.siteurl}}/css/solarized-dark.css" rel="stylesheet">

    <!-- Custom Fonts -->
    {% include css-font-awesome.html %}
    
    {% if this_is_a_draft == true %}
        <link rel="preload" href="{{site.siteurl}}/css/handwriting-draft_free-version.woff2" as="font" type="font/woff2" crossorigin>
        <link href="{{site.siteurl}}/css/draft-blog-post.css" rel="stylesheet">
    {% endif %}

    {% include scripts.html %}

</head>

<body>
    {% include top-of-body.html %}

    {% include navigation.html %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
              <!-- Blog Post -->

                <article class="h-entry">
                  <!-- Title -->
                    <!-- Author TODO: Fix this to be dynamic for more than one author. -->
                  <h1 class="p-name lead"><a href="{{page.mf-syndication}}"> Checked into {{page.mf-checkin[0].properties.name}}<a/></h1>
                  {% if page.author.name %}
                      <p class="lead">by <a rel="author" class="p-author h-card" href="{{ page.author.url }}"><img src="{{page.author.avatar}}" class="u-photo">{{page.author.name}}</a></p>
                  {% else %}
                      <p class="lead">by <a rel="author" class="p-author h-card" href="{{ site.author.url }}"><img src="{{site.author.avatar}}" class="u-photo">{{site.author.name}}</a></p>
                  {% endif %}

                  <hr>

                  {% include publish-and-update-date-time-v2.html %}

                  <!-- TODO: Do a good design on this.  Perhaps remove Category -->
                  <i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;<a href="{{ page.url }}#disqus_thread">&nbsp;Comments</a></br>

                  <img class="webmention-svg" height="1em" src="{{site.siteurl}}/img/webmention-logo.svg"></i>&nbsp;<a href="{{ page.url }}#webmention_thread">&nbsp;Webmentions</a></br>

                  <i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;Catagories:
                  {% assign categories = page-categories-collection %}
                  {% for category in categories %}<span class="p-category">
                      {% capture thiscategory %}{{ category | strip | capitalize }}{% endcapture %}
                      {% if forloop.length == 1 %}
                          {{thiscategory}}
                      {% elsif forloop.last and forloop.length == 2 %}
                          and {{thiscategory}}
                      {% elsif forloop.last %}
                          and {{thiscategory}}
                      {% else %}
                          {{thiscategory}}, 
                      {% endif %}
                      {% if thiscategory == "draft" or thiscategory == "Draft" %}
                          {% assign this_is_a_draft = true %}
                      {% endif %}</span>
                  {% endfor %}</br>

                  <span class="hidden aria-hidden u-url">{{ site.siteurl }}{{ page.url }}</span>

                    <!--
                        TODO: Implement Smart Cropping on the images to make sure they are a minimum height, 
                        and still stay responsive: https://29a.ch/2014/04/03/smartcrop-content-aware-image-cropping

                        -->

                  {% if mf-photo %}
                    {% for photo in page.mf-photo %}
                      <figure>
                          <img class="img-responsive img-thumbnail" src="{{photo}}">
                      </figure>
                    {% endfor %}
                  {% endif %}

                  {% if draw-map == true %}
                  {% comment %} <!--
                                                   mf-location - {{ mf-location }} 
                                              mf-location-full - {{ mf-location-full }}
                                             mf-location-short - {{ mf-location-short }}
                                                  map-name-one - {{ map-name-one }}
                                                  map-name-two - {{ map-name-two }}
                                                      draw-map - {{ draw-map }}
                                                  draw-map-one - {{ draw-map-one }}
                                                  draw-map-two - {{ draw-map-two }}
                                      mf-checkin-facility-name - {{ mf-checkin-facility-name }}
                            page.mf-checkin[0].properties.name - {{ page.mf-checkin[0].properties.name }}
                                               mf-checkin-type - {{ mf-checkin-type }}
                                                mf-checkin-url - {{ mf-checkin-url }}
                                      mf-checkin-facility-name - {{ mf-checkin-facility-name }}
                                       mf-checkin-facility-url - {{ mf-checkin-facility-url }}
                                  mf-checkin-facility-latitude - {{ mf-checkin-facility-latitude }}
                                 mf-checkin-facility-longitude - {{ mf-checkin-facility-longitude }}
                            mf-checkin-facility-street-address - {{ mf-checkin-facility-street-address }}
                                      mf-checkin-facility-city - {{ mf-checkin-facility-city }}
                                              mf-checkin-state - {{ mf-checkin-state }}
                                            mf-checkin-country - {{ mf-checkin-country }}
                                           mf-checkin-zip-code - {{ mf-checkin-zip-code }}
                                                    mf-checkin - {{ mf-checkin }} 
                                       page.mf-checkin[0].type - {{ page.mf-checkin[0].type}}
                                      page.mf-checkin[0].value - {{ page.mf-checkin[0].value }}
                            page.mf-checkin[0].properties.name - {{ page.mf-checkin[0].properties.name }}
                             page.mf-checkin[0].properties.url - {{ page.mf-checkin[0].properties.url }}
                        page.mf-checkin[0].properties.latitude - {{ page.mf-checkin[0].properties.latitude }}
                       page.mf-checkin[0].properties.longitude - {{ page.mf-checkin[0].properties.longitude }}
                  page.mf-checkin[0].properties.street-address - {{ page.mf-checkin[0].properties.street-address }}
                        page.mf-checkin[0].properties.locality - {{ page.mf-checkin[0].properties.locality }}
                          page.mf-checkin[0].properties.region - {{ page.mf-checkin[0].properties.region }}
                    page.mf-checkin[0].properties.country-name - {{ page.mf-checkin[0].properties.country-name }}
                     page.mf-checkin[0].properties.postal-code - {{ page.mf-checkin[0].properties.postal-code }} -->
                  {% endcomment %}


                    <div id="mapid"></div>
                    <script>
                        var mymap = L.map('mapid')
                                     .setView([ {{ map-latitude-one }} , 
                                                {{ map-longitude-one }}    ], 15);
                        L.tileLayer(
                          'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: 
                          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'})
                         .addTo(mymap);

                        L.marker([ {{ map-latitude-one }} , {{ map-longitude-one }} ])
                         .addTo(mymap)
                         .bindPopup("<b>{{ map-name-one }}</b>")
                         .openPopup();

                        {% if draw-map-two == true %}
                        L.marker([ {{ map-latitude-two }} , {{ map-longitude-two }} ])
                         .addTo(mymap)
                         .bindPopup("<b>{{ map-name-two }}</b>")
                         .openPopup();
                        {% endif %}

                        var popup = L.popup();
                    </script>
                  {% endif %}

                  <hr>
                  {% if stripped-content == null or stripped-content == empty %}                  
                  {% else %}
                  <!-- Post Content -->
                  <span class="e-content">{{ content }}</span>
                  <hr>
                  {% endif %}
                </article>
 

                <!--Next and Previous Articles -->
                <!-- TODO: Add Social -->
                {% if page.previous.url %}
                    {% assign previous_url = page.previous.url %}
                    {% assign previous_title = page.previous.title %}
                {% else %}
                    {% assign previous_url = site.siteurl %}
                    {% assign previous_title = "Home" %}
                {% endif %}
                {% if page.next.url %}
                    {% assign next_url = page.next.url %}
                    {% assign next_title = page.next.title %}
                {% else %}
                    {% assign next_url = site.siteurl %}
                    {% assign next_title = "Home" %}
                {% endif %}
                <div class="row">
                    <div class="col-md-6 text-center">
                        <span class="float-md-left"><a href="{{previous_url}}">&laquo; {{previous_title}}</a></span>
                    </div>
                    <div class="col-md-6 text-center">
                        <span class="float-md-right"><a href="{{next_url}}">{{next_title}} &raquo;</a></span>
                    </div>
                </div>
                <hr>

                {% include comments-webmentions.html %}

                {% include comments.html %}

            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    {% include google-search.html %}
                </div>
                <!-- Blog Categories Well -->
                <!-- TODO: Add Social -->
                <div class="well">
                    <div class="post-categories">
                        {% assign categories = page-categories-collection %}
                        {% for category in categories %}
                            <h4>Latest in <a href="{{site.siteurl}}/categories/#{{category|slugize}}">{{category | capitalize}}</a></h4>
                              <div class="row">
                              <div class="col-lg-12">
                                  <ul lass="list-unstyled">
                                    {% for post in site.categories.[category] limit:5 %}
                                        <li><a href="{{site.siteurl}}{{ post.url }}">{{ post.title }}</a></li>
                                    {% endfor %}
                                  </ul>
                              </div>
                            </div>
                        {% endfor %}
                    </div>                
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>

    <!-- Footer -->
    {% include footer.html %}

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    {% include js-jquery.html %}

    <!-- Bootstrap Core JavaScript -->
    {% include js-bootstrap.html %}

    <!-- Google Analytics JavaScript -->
    {% include js-google-analytics.html %}

    <!-- Disqus Count JavaScript -->
    <script id="dsq-count-scr" src="https://tedtschopp.disqus.com/count.js" async=""></script>

    <!-- Web Mentions -->
    <script src="{{site.siteurl}}/js/webmention-min.js" type="text/javascript" async=""></script>
    {% include webmention-io-all-templates.html %}

</body>

</html>